{#
/**
 * @file
 *
 */
#}

{#
project
 - year
 - date
 - year
 - timestamp
 - title
 - body
 - weight (draggable)
 - number_of_items
 - album_list
     - title
     - nid
 - links
   - edit
   - delete
 - cover_id     (node_id from unig_file)
 - cover_image  (render with twig)
    -format

 #}

{{ attach_library('unig/unig.admin.files') }}


{% set unig_projects     = path('unig.project.list') %}
{% set unig_upload = path('unig.upload') %}
{% set datum = project.timestamp|format_date(0, "d. F Y" ) %}

<div id="ajax-container">
</div>

<div class="unig-debug">
    {#
        {{ dd(files) }}
    #}

</div>


<div class="unig-toolbar">

    <a type="button" class="button btn btn-default" href="{{ unig_projects }}">
        <i class="fa fa-list" aria-hidden="true"></i>
        Alle Projekte
    </a>

    <a type="button" class="button btn btn-default" href="{{ unig_upload }}">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Bilder hinzufügen
    </a>

    {# sort #}

    <div type="button" class="button btn btn-default unig-button-sort-activate">
        <i class="fa fa-sort" aria-hidden="true"></i>
        Reihenfolge festlegen
    </div>

    <div type="button" class="button btn btn-success unig-button-sort-save" style="display: none">
        <i class="fa fa-check" aria-hidden="true"></i>
        Reihenfolge speichern
    </div>

    <div type="button" class="button btn btn-warning unig-button-sort-cancel" style="display: none">
        <i class="fa fa-times" aria-hidden="true"></i>
        Reihenfolge zurücksetzen
    </div>

</div>

<div class="unig-ajax-container">

</div>

{#
<a class="use-ajax" href="/unig/ajaxtest/123">Ajaxtest</a>
#}


<article class="unig  unig-lightgallery">
    <div class="unig-project-nid">{{ project.nid }}</div>
    <div class="unig-project-date"> {{ datum }}</div>
    <div><h2 class="unig-project-title">{{ project.title }}</h2></div>

    {# Anzahl Bilder #}
    <div class="unig-project-number-of-items">
        {% if project.number_of_items == 1 %}
            {{ project.number_of_items }} Bild
        {% elseif project.number_of_items > 1 %}
            {{ project.number_of_items }} Bilder
        {% endif %}
    </div>

    <div class="unig-project-body">{{ project.body }}</div>

    {# Album List #}
    <div class="unig-album">
        <ul>
            <li class="unig-albumlist-all">
                <a href="/unig/project/{{ project.nid }}">Alle</a>
            </li>

            {% for album in project.album_list %}
                <li class=" unig-albumlist-item">
                    <a href="/unig/project/{{ project.nid }}/{{ album.nid }}">{{ album.title }}</a>
                </li>

            {% endfor %}
            <li class="unig-albumlist-new-container">
                <div id="unig-form-new-album-input-messages"></div>

                <div id="ajax-container-new-album">
                    <a class="ajax-container-new-album-trigger">Neues Album erstellen</a>
                    <div id="ajax-container-new-album-container" data-projectnid="{{ project.nid }}"
                         style="display: none">
                        {{ drupal_form('Drupal\\unig\\Form\\NewAlbumForm' ) }}
                    </div>
                </div>
            </li>

        </ul>
    </div>

</article>

<div class="unig">
    <ul class="unig-gallery unig-sortable" id="lightgallery-{{ project.nid }}">

        {% for file in files %}


            <li class="unig-sortable-item  unig-file-edit unig-file-{{ file.nid }}" id="unig-file-id_{{ file.nid }}">


                {# wenn sortable active #}
                <div class="unig-sortable-reducer">

                    {# show when sortable list is active #}
                    {# -----------  ----------- #}
                    <div class="unig-sortable-reducer-content" style="display: none">

                        {# ----------- Weight ----------- #}
                        <div class="unig-file-weight" style="display: block">
                            {{ file.weight }}
                        </div>

                        {# Image #}
                        <div class="unig-sortable-image">
                            <img class="" src="{{ file.image.medium }}" alt="">
                        </div>

                        {#  Titel  #}
                        <h2 class="unig-sortable-title">
                            {{ file.title }}
                        </h2>

                    </div>
                    {# -----------  ----------- #}

                    {# hide when sortable list is active #}
                    <div class="unig-sortable-reducer-hide">


                        {# ----------- Weight ----------- #}
                        <div class="unig-file-weight" style="display: block">
                            {{ file.weight }}
                        </div>


                        {#  -----------   Titelbild  -----------  #}
                        <div
                                class="lightgallery-item"
                                data-sub-html="{{ file.title }}"
                                data-src="{{ file.image.unig_hd }}">

                            {% if file.label is not empty %}
                                <div class="field-label">
                                    <label>{{ file.field_label }}</label>
                                </div>
                            {% endif %}
                            <div class="field-content">
                                <div class="unig-gallery-preview-wrapper">
                                    <img class="img-responsive" src="{{ file.image.medium }}"/>
                                </div>
                            </div>
                        </div>

                        {#  -----------   Options button  -----------  #}
                        <div class="unig-file-button-options" data-unig-file-nid="{{ file.nid }}">
                            <i class="fa fa-cog" aria-hidden="true"></i>
                        </div>


                        {#  -----------   Titel  -----------  #}
                        <div>
                            <p class="unig-img-label">{{ file.nid }} - {{ file.title }} </p>
                        </div>


                        {#  -----------   Toolbar  -----------  #}

                        <div class="unig-file-toolbar"  id="unig-file-toolbar-{{ file.nid }}" style="display: none">

                            {#  -----------   Button Titelbild  -----------  #}
                            <a class="unig-button unig-file-set-cover use-ajax"
                               href="/unig/nojs/set_cover/{{ project.nid }}/{{ file.nid }}">
                                <i class="fa fa-picture-o" aria-hidden="true"></i>
                                Titelbild
                            </a>

                            {#  -----------   Button Löschen  -----------  #}
                            <a class="unig-button-danger unig-file-delete-file use-ajax"
                               href="/unig/nojs/delete_file/{{ file.nid }}">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                löschen
                            </a>

                            {#  -----------   Album  -----------  #}

                            <div class="unig-album">
                                <p>Zu album hinzufügen</p>

                                <ul class="unig-gallery-file-album-list-items">
                                    {% for album in project.album_list %}
                                        <li>
                                            <a class="unig-button unig-file-add-album use-ajax"
                                               href="/unig/nojs/add_album/{{ file.nid }}/{{ album.nid }}">{{ album.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>

                        </div>

                    </div> {# hide sortable content#}

                </div> {# sortable reducer#}
            </li>

        {% endfor %}
    </ul>
</div>