{#
/**
 * @file unig.project-list.html.twig
 *
 */
#}

{#
project
 - year
 - date
 - year
 - timestamp
 - title
 - body
 - weight (draggable)
 - number_of_items
 - album_list
     - title
     - nid
 - links
   - edit
   - delete
 - cover_id     (node_id from unig_file)
 - cover_image  (render with twig)
    -format

/unig/upload
 #}

{% set unig_upload = path('unig.upload') %}



<div class="unig-debug">
    {#    {{ dd(project_list) }}#}
</div>



{% if is_admin %}



    <div class="unig-toolbar">

        <a type="button" class="button btn btn-default" href="{{ unig_upload }}">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Neues Projekt
        </a>

    </div>

{% endif %}

<div class="unig-ajax-container">

</div>


{{ project_list }}
{% set sort_year  = false %}

{% for project in project_list %}


    {% if is_admin %}
        {# --------------------------------------------- #}

        {% if sort_year != project.year %}
            <div><h2>{{ project.year }}</h2></div>
        {% endif %}


        <article>
            <div>{{ project.nid }}</div>
            <div>{{ project.title }}</div>

            {# Anzahl Bilder #}
            <div>
                {% if project.number_of_items == 1 %}
                    {{ project.number_of_items }} Bild
                {% elseif project.number_of_items > 1 %}
                    {{ project.number_of_items }} Bilder
                {% endif %}
            </div>

            <div>{{ project.body }}</div>
            <div> {{ project.date|date("m/d/Y") }}</div>

            <div>
                <a href="/unig/project/{{ project.nid }}">
                    <img src="{{ project.cover_image.thumbnail }}" alt="">
                </a>
            </div>

            <div>
                <a href="/unig/lightgallery/project/{{ project.nid }}">
                    Vorschau
                </a>
            </div>

            {# Album List #}
            <div>
                <ul>
                    {% for album in project.album_list %}
                        <li>
                            <a href="/unig/project/{{ project.nid }}/{{ album.nid }}">{{ album.title }}</a>
                        </li>

                    {% endfor %}
                </ul>
            </div>

        </article>


    {% else %}
        {# --------------------------------------------- #}

        {% if sort_year != project.year %}
            <div><h2>{{ project.year }}</h2></div>
        {% endif %}


        <article>
            <div>{{ project.title }}</div>

            {# Anzahl Bilder #}
            <div>
                {% if project.number_of_items == 1 %}
                    {{ project.number_of_items }} Bild
                {% elseif project.number_of_items > 1 %}
                    {{ project.number_of_items }} Bilder
                {% endif %}
            </div>

            <div>{{ project.body }}</div>

            <div>
                <a href="/unig/lightgallery/project/{{ project.nid }}">
                    <img src="{{ project.cover_image.thumbnail }}" alt="">
                </a>
            </div>

            {# Album List #}


        </article>


    {% endif %}

    {% set sort_year = project.year %}

{% endfor %}


<hr>