{#
/**
 * @file
 *
 */
#}

{#
project
 - year
 - date
 - year
 - timestamp
 - title
 - body
 - weight (draggable)
 - number_of_items
 - album_list
     - title
     - nid
 - links
   - edit
   - delete
 - cover_id     (node_id from unig_file)
 - cover_image  (render with twig)
    -format

 #}

{{ attach_library('unig/unig.admin.files') }}

{% set unig_projects     = path('unig.project.list') %}
{% set unig_upload = path('unig.upload') %}
{% set datum = project.timestamp|format_date(0, "d. F Y" ) %}

<div id="ajax-container">
</div>

<div class="unig-debug">
    {#
        {{ dd(files) }}
    #}

</div>


<div class="unig-toolbar">

    {# Fieldset - General #}

    <div class="unig-fieldset no-border unig-fieldset-general">

        <a type="button" class=" unig-button unig-button-show-projects" href="{{ unig_projects }}">
            <i class="fa fa-list" aria-hidden="true"></i>
            {% trans %} All Projects {% endtrans %}
        </a>

        <a type="button" class="unig-button unig-button-files-add"
           href=" {{ path('unig.upload_albumid', {'project_nid': project.nid}) }}">
            <i class="fa fa-plus" aria-hidden="true"></i>
            {% trans %} Add Files {% endtrans %}
        </a>


        {# sort #}

        <div class="unig-button unig-button-sort-toggle">
            <i class="fa fa-arrows" aria-hidden="true"></i>
            {% trans %} Sort order {% endtrans %}

        </div>
    </div>

    {# Fieldset - Keywords #}
    <div class="unig-fieldset no-border unig-fieldset-keywords">

        <div class="unig-button unig-button-toolbar-keywords-toggle unig-toolbar-keywords-toggle-trigger">
            <i class="fa fa-key" aria-hidden="true"></i>
        </div>

        <div class="unig-button unig-button-toolbar-people-toggle unig-toolbar-people-toggle-trigger">
            <i class="fa fa-user" aria-hidden="true"></i>
        </div>
    </div>


    {# Fieldset - Downloads #}
    <div class="unig-fieldset no-border unig-fieldset-downlods">


        <div class="unig-button unig-toolbar-download-toggle unig-toolbar-download-toggle-trigger">
            <i class="fa fa-download" aria-hidden="true"></i>
            <span class="unig-dl-number-of">0</span>

        </div>
    </div>

    {# Fieldset - Modus #}
    <div class="unig-fieldset no-border unig-fieldset-modus">
        {# Bearbeiten #}

        <div class="unig-button unig-button-files-edit" style="display: none">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            {% trans %} Edit {% endtrans %}
        </div>

        {# Vorschau #}

        <div class="unig-button unig-button-files-preview">
            <i class="fa fa-image" aria-hidden="true"></i>
            {% trans %} Preview {% endtrans %}
        </div>
    </div>


    {# Fieldset - Themes #}
    <div class="unig-fieldset no-border unig-fieldset-themes">

        {# Dark #}
        <div class="unig-button unig-button-files-theme-dark">
            <i class="fa fa-adjust" aria-hidden="true"></i>
            {% trans %} Dark {% endtrans %}
        </div>

        {# Default #}
        <div class="unig-button unig-button-files-theme-default" style="display: none">
            <i class="fa fa-adjust" aria-hidden="true"></i>
            {% trans %} Default {% endtrans %}
        </div>
    </div>

</div>


{# Fieldset - Sort #}

<div class="unig-toolbar unig-toolbar-sort" style="display: none">

    <span class="unig-fieldset-title">{% trans %} Sort order {% endtrans %}</span>

    <div class="unig-button unig-button-ok unig-button-sort-save">
        <i class="fa fa-check" aria-hidden="true"></i>
        {% trans %} Save Order {% endtrans %}
    </div>

    <div class="unig-button unig-button-warning unig-button-sort-alphanumeric">
        <i class="fa fa-times" aria-hidden="true"></i>

        {% trans %} reset to alphabetical {% endtrans %}
    </div>

    <div class="unig-button unig-button-warning unig-button-sort-cancel">
        <i class="fa fa-times" aria-hidden="true"></i>
        {% trans %} Cancel {% endtrans %}
    </div>


</div>


{# Toolbar Download #}
<div class="unig-toolbar unig-toolbar-download" style="display: none">

    <div class="unig-dl-info">
        <div class="unig-dl-info-body">
            <ul class="unig-file-download-list">

                {# SD #}
                <li class="unig-toolbox-item unig-file-download-list-direct download-sd">
                                    <span class="unig-file-download-list-picto"><i class="fa fa-download"
                                                                                   aria-hidden="true"></i></span>
                    <span class="unig-file-download-list-label">SD</span>
                    <span class="unig-file-download-list-width">500&thinsp;px</span>
                    <span class="unig-file-download-list-size"> &thinsp;300&thinsp;KB</span>
                </li>

                {# HD #}
                <li class="unig-toolbox-item unig-file-download-list-direct download-hd">
                                    <span class="unig-file-download-list-picto"><i class="fa fa-download"
                                                                                   aria-hidden="true"></i></span>
                    <span class="unig-file-download-list-label">HD</span>
                    <span class="unig-file-download-list-width">1920&thinsp;px</span>
                    <span class="unig-file-download-list-size">&thinsp;0.5&thinsp;MB</span>
                </li>

                {# Max #}
                <li class="unig-toolbox-item  unig-file-download-list-direct download-max">
                                    <span class="unig-file-download-list-picto"><i class="fa fa-download"
                                                                                   aria-hidden="true"></i></span>
                    <span class="unig-file-download-list-label">Max</span>
                    <span class="unig-file-download-list-width">4500&thinsp;px</span>
                    <span class="unig-file-download-list-size">&thinsp;1,2&thinsp;MB</span>

                </li>
            </ul>
        </div>
        <div class="unig-dl-info-footer">

            {# Button Clear Download List  #}
            <div class="unig-button unig-button-small  unig-button-download-clear-list-trigger">
                <i class="fa fa-close" aria-hidden="true"></i>
                {% trans %} Remove All  {% endtrans %}
            </div>

        </div>
    </div>

    <div class="unig-dl-tumbnails">
        {# Placeholder for Tumbnalils#}
    </div>

</div>

{# Toolbar Keywords #}
<div class="unig-toolbar unig-toolbar-keywords" style="display: none">
    <div class="unig-toolbar-head">
        <div class="unig-toolbar-head-title">
            <i class="fa fa-key" aria-hidden="true"></i>
            Keywords
        </div>
        <div class="unig-toolbar-head-search">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input type="text">
        </div>
<div class="unig-toolbar-head-space"></div>
        <div class="unig-button unig-button-small unig-button-keywords-toggle-all">
            <i class="fa fa-key" aria-hidden="true"></i>
            Show Keywords on Images
        </div>
        <div class="unig-toolbar-head-seperator"></div>

        <div class="unig-button unig-button-small unig-button-keywords-check-all">
            check all
        </div>

        <div class="unig-button unig-button-small unig-button-keywords-uncheck-all">
            uncheck all
        </div>

    </div>
    <div class="unig-toolbar-body">
        <div class="unig-toolbar-keywords-tags-container">
            {# Placeholder for tags#}
        </div>
    </div>
    <div class="unig-toolbar-footer">

    </div>

</div>

{# Toolbar People#}
<div class="unig-toolbar unig-toolbar-people" style="display: none">

    <div class="unig-toolbar-head"></div>
    <div class="unig-toolbar-body">
        <div class="unig-toolbar-people-tags-container">
            {# Placeholder for tags#}
        </div>
    </div>
    <div class="unig-toolbar-footer">
        <div class="unig-button unig-button-people-toggle-all">
            <i class="fa fa-key" aria-hidden="true"></i>
        </div>
    </div>
</div>


{# Ajax Message #}
<div class="unig-messages-container">

</div>


<article class="unig unig-lightgallery">
    <div class="unig-project-nid">{{ project.nid }}</div>
    <div class="unig-project-date"> {{ datum }}</div>
    <div><h2 class="unig-project-title">{{ project.title }}</h2></div>

    {# Anzahl Bilder #}
    <div class="unig-project-number-of-items">
        {% if project.number_of_items == 1 %}
            {{ project.number_of_items }} Bild
        {% elseif project.number_of_items > 1 %}
            {{ project.number_of_items }} Bilder
        {% endif %}
    </div>

    <div class="unig-project-body">{{ project.body }}</div>

    {# Album List #}
    <div class="unig-album">
        <ul>
            <li class="unig-albumlist-all">
                <a href="/unig/project/{{ project.nid }}">Alle</a>
            </li>

            {% for album in project.album_list %}
                <li class=" unig-albumlist-item">
                    <a href="/unig/project/{{ project.nid }}/{{ album.nid }}">{{ album.title }}</a>
                </li>

            {% endfor %}
            <li class="unig-albumlist-new-container">
                <div id="unig-form-new-album-input-messages"></div>

                <div id="ajax-container-new-album">
                    <a class="ajax-container-new-album-trigger">Neues Album erstellen</a>
                    <div id="ajax-container-new-album-container" data-projectnid="{{ project.nid }}"
                         style="display: none">
                        {{ drupal_form('Drupal\\unig\\Form\\NewAlbumForm' ) }}
                    </div>
                </div>
            </li>

        </ul>
    </div>

</article>

<div class="unig">
    <ul class="unig-gallery unig-sortable" id="lightgallery-{{ project.nid }}">

        <input type="hidden" id="unig-project-nid" value="{{ project.nid }}">

        {% for file in files %}


            <li class="unig-sortable-item sort-handle unig-file-item unig-file-edit unig-file-{{ file.nid }}"
                id="unig-file-{{ file.nid }}" data-unig-file-nid="{{ file.nid }}">

                {# HIDDEN INPUTS#}

                <div>

                    <input type="hidden" id="is-marked-{{ file.nid }}" name="is-market-{{ file.nid }}" value="0">

                </div>

                {# MODUS SORT #}
                <div class="unig-sortable-reducer">

                    {# show when sortable list is active #}
                    {# -----------  ----------- #}
                    <div class="unig-sortable-reducer-content" style="display: none">


                        <div class="unig-sortable-head">
                            {# ----------- Weight ----------- #}
                            <div class="unig-sortable-weight">
                                {{ file.weight }}
                            </div>

                            {# ----------- NODE ID ----------- #}
                            <div class="unig-sortable-nid">
                                {{ file.nid }}
                            </div>
                        </div>

                        <div class="unig-sortable-body">

                            {# Image #}
                            <div class="unig-sortable-image">
                                <img src="{{ file.image.medium }}" alt="">
                            </div>
                        </div>

                        <div class="unig-sortable-footer">

                            {#  Titel  #}
                            <p class="unig-sortable-title">
                                {{ file.title }}
                            </p>
                        </div>

                    </div>


                    {# MODUS NORMAL #}
                    <div class="unig-sortable-reducer-hide">

                        <div class="sort-cursor-inactive">
                            {# ----------- HEAD ----------- #}

                            <div class="unig-file-head">

                                {# ----------- Download Mark ----------- #}
                                <div class="unig-file-picto unig-file-head-item unig-file-download-mark unig-file-download-mark-trigger">
                                    <i class="fa fa-bookmark" aria-hidden="true"></i>
                                </div>


                                {# ----------- Rating ----------- #}
                                <div class="unig-file-head-item unig-file-rating">

                                    {# thumbs-down #}
                                    <span class="unig-file-picto unig-file-rating-down unig-file-rating-down-trigger">
                                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                    </span>

                                    {# badge #}
                                    <span class="unig-file-item-info unig-file-rating-badge {% if file.rating != 0 %} active {% endif %}">{% if file.rating != 0 %} {{ file.rating }} {% endif %}</span>

                                    <input class="unig-file-rating-input" name="file_rating" type="hidden"
                                           value="{{ file.rating }}">

                                    {# thumbs-up #}
                                    <span class="unig-file-picto unig-file-rating-up unig-file-rating-up-trigger">
                                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                    </span>
                                </div>

                                <div class="unig-file-head-item unig-file-head-info">

                                    {# ----------- NODE ID ----------- #}
                                    <span class="unig-file-item-info unig-file-nid">
                                    {{ file.nid }}
                                </span>
                                    {# ----------- Weight ----------- #}
                                    <span class="unig-file-item-info unig-file-weight">
                                    {{ file.weight }}
                                    </span>
                                </div>
                            </div>

                            {#  -----------   Image  -----------  #}
                            <div class="lightgallery-item"
                                 data-sub-html="{{ file.title }}"
                                 data-src="{{ file.image.unig_hd }}">

                                {% if file.label is not empty %}
                                    <div class="field-label">
                                        <label>{{ file.field_label }}</label>
                                    </div>
                                {% endif %}
                                <div class="field-content">
                                    <div class="unig-image-background">
                                        <img class="img-responsive" src="{{ file.image.medium }}"/>
                                    </div>
                                </div>
                            </div>

                            {#  -----------   Title  -----------  #}
                            <div class="unig-file-title">
                                {% if user.hasPermission('administer nodes') %}

                                    <a href="/node/{{ file.nid }}/edit?destination=/unig/project/{{ project.nid }}"
                                       class="unig-file-item-text use-ajax"
                                       data-dialog-type="modal"
                                       data-dialog-options='{"height":"650","width":"50%","max-height":"100%"}'
                                    >
                                        {{ file.title }}
                                    </a>
                                {% else %}
                                    <span>{{ file.title }}</span>
                                {% endif %}
                            </div>

                            {#  -----------   MIDDLE  -----------  #}

                            <div class="unig-file-middle">

                                <div class="unig-file-middle-toolbox">

                                    {#  -----------   keywords button  -----------  #}
                                    <span class="unig-toolbox-trigger unig-file-picto unig-file-keywords-toolbox-trigger">
                                        <i class="fa fa-key" aria-hidden="true"></i>
                                    </span>

                                    {#  -----------   people button  -----------  #}
                                    <span class="unig-toolbox-trigger unig-file-picto unig-file-people-toolbox-trigger">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                    </span>

                                    {#  -----------   Download button  -----------  #}
                                    <span class="unig-toolbox-trigger unig-file-picto  unig-file-download-toolbox-trigger">
                                        <i class="fa fa-download" aria-hidden="true"></i>
                                    </span>

                                    {#  -----------   Options button  -----------  #}
                                    <span class="unig-toolbox-trigger unig-file-picto unig-file-options-toolbox-trigger">
                                        <i class="fa fa-cog" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>

                            {#  -----------   Options Toolbox -----------  #}
                            <div class="unig-toolbox unig-file-options-toolbox" style="display: none">

                                {#  -----------   Button Titelbild  -----------  #}
                                <span class="unig-file-options-item">
                                <a class="unig-button unig-file-set-cover use-ajax"
                                   href="/unig/nojs/set_cover/{{ project.nid }}/{{ file.nid }}">
                                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                                    Titelbild
                                </a>
                                </span>
                                {#  -----------   Button Löschen  -----------  #}
                                <span class="unig-file-options-item">

                                <a class="unig-button-danger unig-file-delete-file use-ajax"
                                   href="/unig/nojs/delete_file/{{ file.nid }}">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    löschen
                                </a>
                                    </span>
                                {#  -----------   Album  -----------  #}
                            </div>

                            <div class="unig-toolbox  unig-file-album-toolbox" style="display: none">
                                <p>Zu Album hinzufügen</p>

                                <ul class="unig-gallery-file-album-list-items">
                                    {% for album in project.album_list %}
                                        <li>
                                            <a class="unig-button unig-file-add-album use-ajax"
                                               href="/unig/nojs/add_album/{{ file.nid }}/{{ album.nid }}">{{ album.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>

                        </div>
                        {#  -----------   Download List Toolbox -----------  #}

                        <div class="unig-toolbox  unig-file-download-toolbox" style="display: none">
                            <ul class="unig-file-download-list">

                                {# mark #}
                                <li class="unig-toolbox-item unig-file-item-picto unig-file-download-list-mark unig-file-download-mark-trigger">
                                    <span class="unig-file-download-list-picto"><i class="fa fa-bookmark"
                                                                                   aria-hidden="true"></i></span>
                                    <span class="unig-file-download-list-mark-text">für Download merken</span>
                                </li>

                                {# SD #}
                                <li class="unig-toolbox-item unig-file-download-list-direct download-sd">
                                    <span class="unig-file-download-list-picto"><i class="fa fa-download"
                                                                                   aria-hidden="true"></i></span>
                                    <span class="unig-file-download-list-label">SD</span>
                                    <span class="unig-file-download-list-width">500&thinsp;px</span>
                                    <span class="unig-file-download-list-size">ca.&thinsp;300&thinsp;KB</span>
                                </li>

                                {# HD #}
                                <li class="unig-toolbox-item unig-file-download-list-direct download-hd">
                                    <span class="unig-file-download-list-picto"><i class="fa fa-download"
                                                                                   aria-hidden="true"></i></span>
                                    <span class="unig-file-download-list-label">HD</span>
                                    <span class="unig-file-download-list-width">1920&thinsp;px</span>
                                    <span class="unig-file-download-list-size">ca.&thinsp;0.5&thinsp;MB</span>
                                </li>

                                {# Max #}
                                <li class="unig-toolbox-item  unig-file-download-list-direct download-max">
                                    <span class="unig-file-download-list-picto"><i class="fa fa-download"
                                                                                   aria-hidden="true"></i></span>
                                    <span class="unig-file-download-list-label">Max</span>
                                    <span class="unig-file-download-list-width">4500&thinsp;px</span>
                                    <span class="unig-file-download-list-size">ca.&thinsp;1,2&thinsp;MB</span>

                                </li>
                            </ul>
                        </div>

                        {#  -----------   Keyword and People -----------  #}

                        <div class="unig-toolbox unig-file-keywords-toolbox" style="display: none">

                            {#  Keywords  #}
                            {% if file.keywords is not empty %}

                                {# Title #}
                                <span class="unig-toolbox-tag-title-picto">
                                    <i class="fa fa-key" aria-hidden="true"></i></span>

                                {# Items #}
                                {% for  keyword in file.keywords %}
                                    <span class="unig-toolbox-tag unig-keyword">{{ keyword }}</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="unig-toolbox unig-file-people-toolbox" style="display: none">

                            {#  People  #}
                            {% if file.people is not empty %}

                                {# Title #}
                                <span class="unig-toolbox-tag-title-picto">
                                    <i class="fa fa-user" aria-hidden="true"></i></span>

                                {# Items #}
                                {% for  people in file.people %}
                                    <span class="unig-toolbox-tag unig-keyword-people">{{ people }}</span>
                                {% endfor %}
                            {% endif %}


                        </div> {# nonsort #}
                    </div> {# hide sortable content#}

                </div> {# sortable reducer#}
            </li>

        {% endfor %}
    </ul>
</div>