{#
/**
 * @file
 *
 */
#}

{#
project
 - year
 - date
 - year
 - timestamp
 - title
 - body
 - weight (draggable)
 - number_of_items
 - album_list
     - title
     - nid
 - links
   - edit
   - delete
 - cover_id     (node_id from unig_file)
 - cover_image  (render with twig)
    -format

 #}

{{ attach_library('unig/unig.admin.files') }}


{% set unig_projects     = path('unig.project.list') %}
{% set unig_upload = path('unig.upload') %}
{% set datum = project.timestamp|format_date(0, "d. F Y" ) %}

<div id="ajax-container">
</div>

<div class="unig-debug">
    {#
        {{ dd(files) }}
    #}

</div>


<div class="unig-toolbar">

    <a type="button" class="button btn btn-default" href="{{ unig_projects }}">
        <i class="fa fa-list" aria-hidden="true"></i>
        Alle Projekte
    </a>

    <a type="button" class="button btn btn-default" href="{{ unig_upload }}">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Bilder hinzufügen
    </a>

    {# sort #}

    <div class="button btn btn-default unig-button-sort-activate">
        <i class="fa fa-sort" aria-hidden="true"></i>
        Reihenfolge festlegen
    </div>

    <div class="button btn btn-success unig-button-sort-save" style="display: none">
        <i class="fa fa-check" aria-hidden="true"></i>
        Reihenfolge speichern
    </div>

    <div class="button btn btn-warning unig-button-sort-cancel" style="display: none">
        <i class="fa fa-times" aria-hidden="true"></i>
        Reihenfolge zurücksetzen
    </div>

</div>

<div class="unig-ajax-container">

</div>

{#
<a class="use-ajax" href="/unig/ajaxtest/123">Ajaxtest</a>
#}


<article class="unig  unig-lightgallery">
    <div class="unig-project-nid">{{ project.nid }}</div>
    <div class="unig-project-date"> {{ datum }}</div>
    <div><h2 class="unig-project-title">{{ project.title }}</h2></div>

    {# Anzahl Bilder #}
    <div class="unig-project-number-of-items">
        {% if project.number_of_items == 1 %}
            {{ project.number_of_items }} Bild
        {% elseif project.number_of_items > 1 %}
            {{ project.number_of_items }} Bilder
        {% endif %}
    </div>

    <div class="unig-project-body">{{ project.body }}</div>

    {# Album List #}
    <div class="unig-album">
        <ul>
            <li class="unig-albumlist-all">
                <a href="/unig/project/{{ project.nid }}">Alle</a>
            </li>

            {% for album in project.album_list %}
                <li class=" unig-albumlist-item">
                    <a href="/unig/project/{{ project.nid }}/{{ album.nid }}">{{ album.title }}</a>
                </li>

            {% endfor %}
            <li class="unig-albumlist-new-container">
                <div id="unig-form-new-album-input-messages"></div>

                <div id="ajax-container-new-album">
                    <a class="ajax-container-new-album-trigger">Neues Album erstellen</a>
                    <div id="ajax-container-new-album-container" data-projectnid="{{ project.nid }}"
                         style="display: none">
                        {{ drupal_form('Drupal\\unig\\Form\\NewAlbumForm' ) }}
                    </div>
                </div>
            </li>

        </ul>
    </div>

</article>

<div class="unig">
    <ul class="unig-gallery unig-sortable" id="lightgallery-{{ project.nid }}">

        {% for file in files %}

            {% set rating = 5 %}  {# TODO: Test Value #}


            <li class="unig-sortable-item sort-handle unig-file-item unig-file-edit unig-file-{{ file.nid }}"
                id="unig-file-{{ file.nid }}" data-unig-file-nid="{{ file.nid }}">


                {# wenn sortable active #}
                <div class="unig-sortable-reducer">

                    {# show when sortable list is active #}
                    {# -----------  ----------- #}
                    <div class="unig-sortable-reducer-content" style="display: none">

                        {# ----------- NODE ID ----------- #}
                        <div class="unig-file-nid" style="display: block">
                            {{ file.nid }}
                        </div>

                        {# ----------- Weight ----------- #}
                        <div class="unig-file-weight" style="display: block">
                            {{ file.weight }}
                        </div>


                        {# Image #}
                        <div class="unig-sortable-image">
                            <img class="" src="{{ file.image.medium }}" alt="">
                        </div>

                        {#  Titel  #}
                        <p class="unig-sortable-title">
                            {{ file.title }}
                        </p>


                    </div>


                    {#  #}
                    <div class="unig-sortable-reducer-hide">

                        <div class="sort-cursor-inactive">
                            {# ----------- HEAD ----------- #}

                            <div class="unig-file-head">

                                {# ----------- Download Mark ----------- #}
                                <div class="unig-file-head-item unig-file-download-mark unig-file-download-mark-trigger">
                                    <i class="fa fa-bookmark" aria-hidden="true"></i>
                                </div>


                                {# ----------- Rating ----------- #}
                                <div class="unig-file-head-item unig-image-rating">

                                    {# thumbs-down #}
                                    <span class="unig-image-rating-down unig-image-rating-down-trigger">
                                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                    </span>

                                    {# badge #}
                                    <span class="unig-image-rating-badge {% if rating != 0 %} active {% endif %}">{{ rating }}</span>

                                    <input class="unig-image-rating-input" name="file_rating" type="hidden"
                                           value="{{ rating }}">

                                    {# thumbs-up #}
                                    <span class="unig-image-rating-up unig-image-rating-up-trigger">
                                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                    </span>
                                </div>

                                <div class="unig-file-head-item unig-file-weight">

                                    {# ----------- NODE ID ----------- #}
                                    <span class="unig-file-nid">
                                    {{ file.nid }}
                                </span>
                                    {# ----------- Weight ----------- #}
                                    <span class="unig-file-weight">
                                    {{ file.weight }}
                                    </span>
                                </div>
                            </div>

                            {#  -----------   Titelbild  -----------  #}
                            <div class="lightgallery-item"
                                 data-sub-html="{{ file.title }}"
                                 data-src="{{ file.image.unig_hd }}">

                                {% if file.label is not empty %}
                                    <div class="field-label">
                                        <label>{{ file.field_label }}</label>
                                    </div>
                                {% endif %}
                                <div class="field-content">
                                    <div class="unig-gallery-preview-wrapper">
                                        <img class="img-responsive" src="{{ file.image.medium }}"/>
                                    </div>
                                </div>
                            </div>

                            {#  -----------   MIDDLE  -----------  #}

                            <div class="unig-file-middle">

                                {#  -----------   Titel  -----------  #}
                                <div class="unig-file-middle-item unig-file-title">
                                    {{ file.title }}
                                </div>

                                <div class="unig-file-middle-item">

                                    {#  -----------   keywords button  -----------  #}
                                    <span class="unig-file-keywords-toolbox-trigger">
                                        <i class="fa fa-key" aria-hidden="true"></i>
                                    </span>

                                    {#  -----------   people button  -----------  #}
                                    <span class="unig-file-people-toolbox-trigger">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                    </span>

                                    {#  -----------   Download button  -----------  #}
                                    <span class="unig-file-download-toolbox-trigger">
                                        <i class="fa fa-download" aria-hidden="true"></i>
                                    </span>

                                    {#  -----------   Options button  -----------  #}
                                    <span class="unig-file-options-toolbox-trigger">
                                        <i class="fa fa-cog" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>

                            {#  -----------   Options Toolbox -----------  #}
                            <div class="unig-file-options-toolbox" style="display: none">

                                {#  -----------   Button Titelbild  -----------  #}
                                <span class="unig-file-options-item">
                                <a class="unig-button unig-file-set-cover use-ajax"
                                   href="/unig/nojs/set_cover/{{ project.nid }}/{{ file.nid }}">
                                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                                    Titelbild
                                </a>
                                </span>
                                {#  -----------   Button Löschen  -----------  #}
                                <span class="unig-file-options-item">

                                <a class="unig-button-danger unig-file-delete-file use-ajax"
                                   href="/unig/nojs/delete_file/{{ file.nid }}">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    löschen
                                </a>
                                    </span>
                                {#  -----------   Album  -----------  #}
                            </div>

                            <div class="unig-file-album-toolbox" style="display: none">
                                <p>Zu Album hinzufügen</p>

                                <ul class="unig-gallery-file-album-list-items">
                                    {% for album in project.album_list %}
                                        <li>
                                            <a class="unig-button unig-file-add-album use-ajax"
                                               href="/unig/nojs/add_album/{{ file.nid }}/{{ album.nid }}">{{ album.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>

                        </div>
                        {#  -----------   Download List Toolbox -----------  #}

                        <div class="unig-file-download-toolbox" style="display: none">
                            <ul class="unig-file-download-list">

                                {# mark #}
                                <li class="unig-file-download-list-mark unig-file-download-mark-trigger">
                                        <span class="unig-file-download-list-picto">
                                        <i class="fa fa-bookmark" aria-hidden="true"></i>
                                            </span>
                                    <span class="unig-file-download-list-mark-text">für Download merken</span>
                                </li>

                                {# SD #}
                                <li class="unig-file-download-list-direct download-sd">
                                                                                <span class="unig-file-download-list-picto">

                                        <i class="fa fa-download" aria-hidden="true"></i>
                                        </span>
                                    <span class="unig-file-download-list-label">SD</span>
                                    <span class="unig-file-download-list-width">500&thinsp;px</span>
                                    <span class="unig-file-download-list-size">ca.&thinsp;300&thinsp;KB</span>


                                </li>
                                {# HD #}
                                <li class="unig-file-download-list-direct download-hd">
                                      <span class="unig-file-download-list-picto">
                                        <i class="fa fa-download" aria-hidden="true"></i>
                                      </span>
                                    <span class="unig-file-download-list-label">HD</span>
                                    <span class="unig-file-download-list-width">1920&thinsp;px</span>
                                    <span class="unig-file-download-list-size">ca.&thinsp;0.5&thinsp;MB</span>

                                </li>
                                {# Max #}
                                <li class="unig-file-download-list-direct download-max">
                                    <span class="unig-file-download-list-picto">
                                        <i class="fa fa-download" aria-hidden="true"></i>
                                    </span>
                                    <span class="unig-file-download-list-label">Max</span>
                                    <span class="unig-file-download-list-width">4500&thinsp;px</span>
                                    <span class="unig-file-download-list-size">ca.&thinsp;1,2&thinsp;MB</span>

                                </li>
                            </ul>
                        </div>

                        {#  -----------   Keyword and People -----------  #}

                        <div class="unig-file-keywords-toolbox" style="display: none">
                            {#  Keywords  #}
                            {% if file.keywords is not empty %}

                                <div class="unig-container-keyword">
                                    <i class="fa fa-key" aria-hidden="true"></i>

                                    {% for  keyword in file.keywords %}
                                        <span class="unig-keyword">{{ keyword }}</span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="unig-file-people-toolbox" style="display: none">

                            {#  People  #}
                            {% if file.people is not empty %}

                                <div class="unig-container-keyword-people">
                                    <i class="fa fa-user" aria-hidden="true"></i>

                                    {% for  people in file.people %}
                                        <span class="unig-keyword-people">{{ people }}</span>
                                    {% endfor %}
                                </div>
                            {% endif %}


                        </div> {# nonsort #}
                    </div> {# hide sortable content#}

                </div> {# sortable reducer#}
            </li>

        {% endfor %}
    </ul>
</div>