{#
/**
 * @file
 * Theme  to display a UniG Gallery preview.
 *
 * Available variables:
 *  - id
 *  - nid
 *  - title
 *  - title_url
 *  - description
 *  - copyright
 *  - weight
 *  - category
 *  - category_id
 *  - category_list
 *  - tags
 *  - tags_ids
 *  - tags_list
 *  - private
 *  - user
 *    - logged_in
 *    - is_admin
 *    - can_download
 *    - show_private
 *  - timestamp
 *  - date
 *  - date_drupal
 *  - year
 *  - number_of_items
 *  - cover_id
 *  - cover_image
 *  - album_list
 *  - host

 *
 */
#}


{% if private != false and user.logged_in == false %}
{% elseif id == 0 %}
{% else %}

  {% set classes = [
    view_mode ? view_mode|clean_class,
    private ? 'private',
    'unig-project-preview',
    'unig-project-container',
    'unig-project-'~id] %}


  {% set date_short = timestamp|format_date('date_short') %}
  {% set date_long = timestamp|format_date('date_long') %}


  <div class="{{ classes|join(' ') }} {{ dark_mode ? 'unig-theme-dark' :'unig-theme-bright' }}">

    {# ----------- Cover ----------- #}
    <div class="unig-project-cover">
      <a href="{{ url }}">
        <div class="unig-project-cover-background">
          {% if cover_image.unig_cover.url %}
            <div class="unig-project-cover-image">
              <img class="" src="{{ cover_image.unig_cover.url }}" alt="">
            </div>
          {% else %}
            <div class="unig-project-cover-image-placeholder">

              <div class="unig-project-cover-icon"><i class="far fa-image"></i></div>
              <div class="unig-project-cover-text">
                <span>{% trans %} No cover picture selected {% endtrans %}</span>
              </div>
            </div>
          {% endif %}
        </div>
      </a>
    </div>

    {# ----------- Text ----------- #}
    <div class="unig-project-text">
      <div class="unig-project-info-container">
        <div class="unig-row">

          {# ----------- Number of items ----------- #}
          <div class="unig-project-number-of-items unig-col-left">
            <i class="fas fa-images"></i> {{ number_of_items }}
          </div>

          {#  -----------   Date  -----------  #}
          <div class="unig-project-date">
            {{ date_short }}
          </div>

          {# ----------- Private ----------- #}
          {% if private %}
            <div class="unig-project-public-private unig-button-icon-info"
                 title="{% trans %}Private Project{% endtrans %}">
                <span class="unig-project-private">
                    <i class="fas fa-lock"></i>
                </span>
            </div>
          {% endif %}

          {% if user.can_download %}
            <a class="unig-list-link"
               href="{{ path('unig.project.download',
                 {'project_id': id, 'album_id': album_id, }) }}">
              <i class="fas fa-download"></i>
            </a>
          {% endif %}

        </div>
      </div>

      {# ----------- Display ----------- #}

      <div class="unig-project-text-container">

        {#  -----------   Category  -----------  #}
        <div class="unig-project-category">
          {{ category }}
        </div>

        {# -----------  Title ----------- #}
        <h2 class="unig-project-title">
          {{ title }}
        </h2>

        {#  -----------   Description  -----------  #}
        <div class="unig-project-description">
          {{ description }}
        </div>

      </div>
    </div>
  </div>
{% endif %}
