{#
/**
 * @file unig.project-list.html.twig
 *
 */
#}

{#
project
 - year
 - date
 - year
 - timestamp
 - title
 - body
 - weight (draggable)
 - number_of_items
 - album
     - title
     - number_of_items
 - links
   - edit
   - delete
 - cover_id     (node_id from unig_file)
 - cover_image  (render with twig)


 #}
<h1>Universal Gallery - All Projects </h1>

<div class="unig-debug">
    {{ dd(project_list) }}
</div>


<div class="unig-toolbar">

<button><i class="fa fa-plus" aria-hidden="true"></i> Neues Projekt</button>

<button><i class="fa fa-pencil" aria-hidden="true"></i> bearbeiten</button>

</div>

<div class="unig-ajax-container">

</div>




{{ project_list }}


{% for project in project_list %}


    <div>{{ project.nid }}</div>
    <div>{{ project.title }}</div>
    <div>{{ project.body }}</div>
   <div> {{ project.date|date("m/d/Y") }}</div>


{% endfor %}





<hr>