{#
/**
 * @file
 *
 */
#}

{#
unig.lightgallery.html.twig
 #}

{% set datum = project.timestamp|format_date(0, "d. F Y" ) %}

<div class="unig-file-gallery-head">
    <div class="unig-gallery-header-left">

        <div class="unig-back-to-list">
            <a href="{{ path('unig.project_list') }}">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                {% trans %} Show all Projects {% endtrans %}
            </a>
        </div>


    </div>

    <div class="unig-gallery-header-middle">
        <div><h1 class="unig-project-title">{{ project.title }}</h1>

            {% if user.hasPermission('access unig admin') %}
        {# ----------- open Edit ----------- #}
        <a role="button"
             class="unig-button-edit-project unig-button-edit-project-trigger"
        href="/unig/project/{{ project.nid }}">
            <i class="fa fa-edit"></i>
        </a>
            {% endif %}

    </div>
        <p class="unig-project-date"> {{ datum }}</p>
        <p class="unig-project-description">{{ project.description }}</p>

    </div>
    <div class="unig-gallery-header-right">

        {# Number of Items #}
        <div class="unig-project-number-of-items">

               <i class="fas fa-images"></i> {{ project.number_of_items }}
        </div>

        {# copyright #}
        <div class="unig-project-copyright">{{ project.copyright }}</div>

        {#  Buttons #}
        <div class="unig-gallery-toolbar">
            <div role="button"
                 class="unig-gallery-toolbar-item unig-gallery-button unig-gallery-image-name-trigger unig-gallery-button-image-name">
                <div class="unig-gallery-image-name-label-show">{% trans %} Show image names {% endtrans %} </div>
                <div class="unig-gallery-image-name-label-hide"
                     style="display: none">{% trans %} Hide image names {% endtrans %} </div>
            </div>

            <div role="button"
                 class="unig-gallery-toolbar-item unig-gallery-button unig-gallery-image-index-trigger unig-gallery-button-image-index">
                <div class="unig-gallery-image-index-label-show">{% trans %} Show index numbers {% endtrans %} </div>
                <div class="unig-gallery-image-index-label-hide"
                     style="display: none">{% trans %} Hide index numbers {% endtrans %} </div>
            </div>
        </div>
    </div>

</div>


<div class="unig">
    <ul class="unig-gallery" id="lightgallery-{{ project.nid }}">

        {% for file in files %}


            <li class="unig-file-item  unig-file-item-id-{{ file.nid }}">

                <div class="unig-file-index" style="display:none;">{{ loop.index }}</div>


                {#  -----------   Image  -----------  #}
                <div class="lightgallery-item"
                     data-sub-html=".unig-lightgallery-sub-{{ file.nid }}"
                     data-src="{{ file.image.unig_hd.url }}">


                    <div class="field-content">
                        <div class="unig-image-background">
                            <img class="img-responsive" src="{{ file.image.unig_thumbnail.url }}"/>
                        </div>
                    </div>

                    <div class="unig-lightgallery-sub-{{ file.nid }}" style="display: none">
                        <h1 class="unig-gallery-diashow">{{ file.title }}</h1>
                        <p class="unig-gallery-diashow"> {{ file.description }}</p>
                    </div>
                </div>

                {#  -----------   Title All -----------  #}
                <div class="unig-file-title">

                {# only edited File Titles #}
                    <div class="">
                        {% if file.title_generated == 0 %}
                            {{ file.title }}
                        {% endif %}
                    </div>
                </div>




                {#  -----------   Name  -----------  #}
                <div class="unig-file-name" style="display: none">

                    {{ file.image.original.name }}

                </div>

                {#  -----------   Description  -----------  #}
                <div class="unig-file-description">

                    {{ file.description }}

                </div>

            </li>

        {% endfor %}
    </ul>
</div>