{#

@file unig.project-public.html.twig


Twig Vars
  --------------------------------
  project:
    - id
    - title
    - title_url
    - description
    - copyright
    - weight
    - category
    - category_id
    - category_list
        - id
        - name
    - tags
    - tags_ids
    - tags_list
        - id
        - name
    - private
    - timestamp
    - date
    - date_drupal
    - year
    - number_of_items
    - cover_id
    - cover_image
    - album_list
    - host
  --------------------------------
  files.0:
    - id
    - title
    - description
    - album_list
    - image:
        - large
        - medium
        - thumbnail
        - unig_cover
        - unig_hd
        - unig_medium
        - unig_thumbnail
        - original
    - comments
    - weight
    - rating
    - copyright
    - people
    - keywords
    - title_generated
  --------------------------------
  images:
    - url
    - uri
    - file_size
    - file_size_formatted
    - width
    - height
#}



{% set date_short = project.timestamp|format_date('date_short') %}
{% set date_long = project.timestamp|format_date('date_long') %}

{# header #}
<div class="unig-file-gallery-head">

  {# header-left #}
  <div class="unig-gallery-header-left">
    <div class="unig-back-to-list">
      <a href="{{ path('unig.list') }}">
        <i class="fas fa-chevron-left" aria-hidden="true"></i>
        {% trans %} Show all projects {% endtrans %}
      </a>
    </div>
  </div>

  {# header-middle #}
  <div class="unig-gallery-header-middle">

    <div class="unig-gallery-header-text">

      {# Row 1 #}
      <div class="unig-gallery-header-text-row-1">

        {# Title #}
        <div class="unig-project-title">

          <h1>{{ project.title }}

            {# Edit Button #}
            {% if user.hasPermission('access unig admin') %}
              {# ----------- open Edit ----------- #}
              <a role="button"
                 class="unig-button-edit-project unig-button-edit-project-trigger"
                 href="{{ path('unig.project.admin',{'project_id':project.id, 'album_id':album.id}) }}">
                <i class="fas fa-edit"></i>
              </a>
            {% endif %}
          </h1>
        </div>
      </div>

      {# ROW 2 #}
      <div class="unig-gallery-header-text-row-2">
        {# Date #}
        <div class="unig-project-date"> {{ date_long }}</div>

        {# copyright #}
        <div class="unig-project-copyright">{{ project.copyright }}</div>
      </div>

      {# ROW 3 #}
      <div class="unig-gallery-header-text-row-3">
        {# description #}
        <div class="unig-project-description">{{ project.description }}</div>
      </div>
    </div>

  </div>

  {# Header Right #}
  <div class="unig-gallery-header-right">

    {# Number of Items #}
    <div class="unig-project-number-of-items">
      <i class="fas fa-images"></i> {{ project.number_of_items }}
    </div>

    {#  Buttons #}
    <div class="unig-gallery-toolbar">

      {# Button Image Names #}
      <div role="button"
           class="unig-gallery-toolbar-item unig-gallery-button unig-gallery-image-name-trigger unig-gallery-button-image-name">
        <span class="unig-gallery-image-name-label-show">{% trans %} Show image names {% endtrans %} </span>
        <span class="unig-gallery-image-name-label-hide"
              style="display: none">{% trans %} Hide image names {% endtrans %} </span>
      </div>

      {# Button Index Numbers #}
      <div role="button"
           class="unig-gallery-toolbar-item unig-gallery-button unig-gallery-image-index-trigger unig-gallery-button-image-index">
        <span class="unig-gallery-image-index-label-show">{% trans %} Show index numbers {% endtrans %} </span>
        <span class="unig-gallery-image-index-label-hide"
              style="display: none">{% trans %} Hide index numbers {% endtrans %} </span>
      </div>

      {# Button Downloads #}
      {% if user.hasPermission('access unig download') %}
        {# ----------- open Edit ----------- #}
        <a role="button"
           class="unig-gallery-toolbar-item unig-gallery-button "
           href="{{ path('unig.project.download',{'project_id':project.id, 'album_id':album.id}) }}">
          <i class="fas fa-download"></i>
          {% trans %} Download {% endtrans %}
        </a>
      {% endif %}


    </div>
  </div>

</div>


<div class="unig">
  <ul class="unig-gallery" id="lightgallery-{{ project.id }}">

    {% for file in files %}

      <li class="unig-file-item  unig-file-item-id-{{ file.id }}">

        <div class="unig-file-index" style="display:none;">{{ loop.index }}</div>

        {#  -----------   Image  -----------  #}
        <div class="lightgallery-item"
             data-sub-html=".unig-lightgallery-sub-{{ file.id }}"
             data-src="{{ file.image.unig_hd.url }}">

          <div class="field-content">
            <div class="unig-image-background">
              <img class="img-responsive" src="{{ file.image.unig_medium.url }}"/>
            </div>
          </div>

          <div class="unig-lightgallery-sub-{{ file.id }}" style="display: none">
            <h1 class="unig-gallery-diashow">{{ file.title }}</h1>
            <p class="unig-gallery-diashow"> {{ file.description }}</p>
          </div>
        </div>

        {#  -----------   Title All -----------  #}
        <div class="unig-file-title">

          {# only edited File Titles #}
          <div class="">
            {% if file.title_generated == 0 %}
              {{ file.title }}
            {% endif %}
          </div>
        </div>

        {#  -----------   Name  -----------  #}
        <div class="unig-file-name" style="display: none">
          {{ file.image.original.name }}
        </div>

        {#  -----------   Description  -----------  #}
        <div class="unig-file-description">
          {{ file.description }}
        </div>

      </li>

    {% endfor %}
  </ul>
</div>
