{#
/**
 * @file unig.project.html.twig
 *
 */
#}


{{ attach_library('unig/unig.admin.project_list') }}


<div class="unig">

    <div class="unig-debug">
    </div>


    {% if is_admin %}

        <div class="unig-toolbar">

            {# Fieldset - General #}

            <div class="unig-fieldset no-border unig-fieldset-general">


                <a type="button" class="unig-button unig-new-project-trigger"
                   href=" {{ path('unig.upload',{'project_nid':null}) }}">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    {% trans %} New Project {% endtrans %}
                </a>


                {# sort #}

                <div class="unig-button unig-sort-toggle-trigger">
                    <i class="fa fa-arrows" aria-hidden="true"></i>
                    {% trans %} Sort order {% endtrans %}

                </div>
            </div>


            {# Fieldset - Themes #}
            <div class="unig-fieldset no-border unig-fieldset-themes">

                {# Dark #}
                <div class="unig-button unig-button-theme-dark unig-theme-dark-trigger">
                    <i class="fa fa-adjust" aria-hidden="true"></i>
                    {% trans %} Dark {% endtrans %}
                </div>

                {# Default #}
                <div class="unig-button unig-button-theme-default  unig-theme-default-trigger" style="display: none">
                    <i class="fa fa-adjust" aria-hidden="true"></i>
                    {% trans %} Default {% endtrans %}
                </div>
            </div>


        </div>


        {# Fieldset - Sort #}

        <div class="unig-toolbar unig-toolbar-sort" style="display: none">

            <span class="unig-fieldset-title">{% trans %} Sort order {% endtrans %}</span>

            <div class="unig-button unig-button-ok unig-button-sort-save unig-sort-save-trigger">
                <i class="fa fa-check" aria-hidden="true"></i>
                {% trans %} Save Order {% endtrans %}
            </div>

            <div class="unig-button unig-button-warning unig-button-sort-alphanumeric unig-sort-alphanumeric-trigger ">
                <i class="fa fa-times" aria-hidden="true"></i>

                {% trans %} reset to alphabetical {% endtrans %}
            </div>

            <div class="unig-button unig-button-warning unig-button-sort-cancel unig-sort-cancel-trigger">
                <i class="fa fa-times" aria-hidden="true"></i>
                {% trans %} Cancel {% endtrans %}
            </div>


        </div>

    {% endif %}

    <div class="ajax-container">

    </div>
    <div class="unig-message-container">

    </div>
    <div class="unig">
        <ul  class="unig-project-list unig-sortable">

            {% set sort_year  = false %}
            {% for project in project_list %}
                {% set datum = project.timestamp|format_date(0, "D. d. F Y" ) %}


                {# -------------------  Admin -------------------------- #}
                {% if is_admin %}
                    {# ----------- YEAR ----------- #}
                    {% if sort_year != project.year %}
                        <div class="unig-project-year"><h2>{{ project.year }}</h2></div>
                    {% endif %}

                    {% if project.private == 1 %}
                        {% set class = 'unig-project-private' %}
                    {% else %}
                        {% set class = '' %}
                    {% endif %}

                    {# sortable list #}
                <li class="unig-project-list-item unig-sortable-item" id="unig-sortable-item-id_{{ project.nid }}">



                            <article class="unig unig-project unig-project-{{ project.nid }} {{ class }}">


                                {# ----------- Weight ----------- #}
                                <div class="unig-project-weight" style="display: none">
                                    {{ project.weight }}
                                </div>

                                {# ----------- Cover ----------- #}
                                <div class="unig-project-cover">
                                    <a href="/unig/project/{{ project.nid }}">
                                        <div class="unig-gallery-preview-wrapper">
                                            <img class="" src="{{ project.cover_image.unig_cover }}" alt="">
                                        </div>

                                    </a>
                                </div>

                                <div class="unig-row">

                                    {# ----------- Anzahl Bilder ----------- #}
                                    <div class="unig-project-number-of-items unig-col-left">
                                        {% if project.number_of_items == 1 %}
                                            {{ project.number_of_items }} Bild
                                        {% elseif project.number_of_items > 1 %}
                                            {{ project.number_of_items }} Bilder
                                        {% endif %}
                                    </div>

                                    {# ----------- Private ----------- #}
                                    <div id="unig-project-private-{{ project.nid }}"
                                         class="unig-project-private unig-col">
                                        {% if project.private %}
                                            (privat)
                                        {% endif %}

                                    </div>

                                    {# ----------- Nid ----------- #}
                                    <div class="unig-project-nid unig-col-right">{{ project.nid }}</div>

                                </div>

                                {# ----------- Normal ----------- #}

                                <hr class="unig">

                                <div class="unig-project-normal-container"
                                     id="unig-project-normal-container-{{ project.nid }}">

                                    {# ----------- Datum ----------- #}
                                    <div id="unig-project-date-{{ project.nid }}"
                                         class="unig-project-date"> {{ datum }}</div>


                                    {# ----------- Titel ----------- #}
                                    <h2 class="unig-project-copyright" id="unig-project-title-{{ project.nid }}" >
                                        {{ project.title }}
                                    </h2>


                                    {# ----------- description ----------- #}
                                    <div class="unig-project-copyright" id="unig-project-description-{{ project.nid }}">{{ project.description }}</div>


                                    {# ----------- copyright ----------- #}
                                    <div class="unig-project-copyright" id="unig-project-copyright-{{ project.nid }}">{{ project.copyright }}</div>


                                    {# ----------- Toolbar ----------- #}
                                    <div class="unig-project-toolbar">

                                        {# Bearbeiten #}
                                        <div class="unig-button unig-button-project-edit unig-project-edit-trigger"
                                             data-unig-project-nid="{{ project.nid }}">
                                            {% trans %} Edit {% endtrans %}
                                        </div>

                                        {# Vorschau #}
                                        <a class="unig-button unig-button-project-preview"
                                           href="{{ path('unig.lightgallery', {'album_nid': null, 'project_nid': project.nid}) }}">
                                            {% trans %} Preview {% endtrans %}
                                        </a>
                                    </div>

                                </div>

                                {# ----------- Edit ----------- #}

                                <div class="unig-project-edit-container"
                                     id="unig-project-edit-container-{{ project.nid }}"
                                     style="display: none">


                                    {# ----------- Edit hidden ----------- #}

                                    <input id="edit-unig-project-nid-{{ project.nid }}"
                                           type="hidden" value="{{ project.nid }}"
                                           name="project_nid">

                                    <input id="edit-unig-project-weight-{{ project.nid }}" type="hidden"
                                           value="{{ project.weight }}" name="project_weight">


                                    {# ----------- Edit Datum ----------- #}
                                    <div class="unig-project-date">

                                        <input
                                                id="edit-unig-project-date-{{ project.nid }}"
                                                data-drupal-selector="edit-field-unig-date-0-value-date"
                                                title="Datum (z. B. 2017-10-14)"
                                                type="date"
                                                min="1900-01-01" max="2050-12-31"
                                                data-drupal-date-format="Y-m-d"
                                                data-unig-project-id="{{ project.nid }}"
                                                name="field_unig_date"
                                                value="{{ project.date_drupal }}"
                                                size="12"
                                                class="form-date">
                                    </div>


                                    {# ----------- Edit Titel ----------- #}
                                    <h2 class="unig-edit-project-title">
                                        <input
                                                id="edit-unig-project-title-{{ project.nid }}"
                                                title="Titel"
                                                type="text"
                                                size="30"
                                                value="{{ project.title }}">
                                    </h2>


                                    {# ----------- Edit Description ----------- #}
                                    <textarea
                                            id="edit-unig-project-description-{{ project.nid }}"
                                            rows="4"
                                            cols="30"
                                            title="Beschreibung">{{ project.description }}</textarea>

                                    {# ----------- Edit Copyright ----------- #}
                                    <div class="unig-edit-project-copyright">
                                        <input
                                                id="edit-unig-project-copyright-{{ project.nid }}"
                                                title="Copyright"
                                                placeholder="Copyright"
                                                type="text"
                                                size="30"
                                                value="{{ project.copyright }}">
                                    </div>

                                    {# ----------- Edit Privat ----------- #}
                                    <div>
                                        <input id="edit-unig-project-private-{{ project.nid }}"
                                               data-drupal-selector="edit-field-unig-private-value"
                                               aria-describedby="edit-field-unig-private-value--description"
                                               type="checkbox"
                                               name="field_unig_private[value]"
                                               title="Nur Intern"
                                               value="{{ project.private }}"
                                                {% if project.private %}   checked="checked" {% endif %}
                                               class="form-checkbox">

                                        <label class="unig-input-label" for="unig_project_privat">
                                            Privates Projekt (nur Intern)</label>
                                    </div>

                                    {# ----------- Edit Buttons ----------- #}

                                    <div class="unig-project-toolbar">

                                        {# Bearbeiten #}
                                        <div class="unig-button-ok unig-project-save-trigger"
                                             data-unig-project-nid="{{ project.nid }}">
                                            {% trans %} Save {% endtrans %}
                                        </div>

                                        {# Abbrechen #}
                                        <div class="unig-button unig-project-cancel-trigger"
                                             data-unig-project-nid="{{ project.nid }}"
                                             data-unig-project-index="{{ loop.index0 }}"
                                        >

                                            {% trans %} Cancel {% endtrans %}
                                        </div>
                                    </div>

                                    <hr class="unig">

                                    <div class="unig-project-toolbar">

                                        {#  -----------   Button Löschen  -----------  #}
                                        <a class="unig-button-danger unig-project-delete-trigger use-ajax"
                                           href="{{ path('unig.project.ajax.delete', {'project_nid': project.nid}) }}">
                                            {% trans %} Delete Project {% endtrans %}
                                        </a>
                                    </div>


                                </div>


                                {#  -----------   Album  -----------  #}
                                {% if album_list %}
                                    <div class="unig-project-album-list">
                                        <h3 class="unig-project-album-list-title">Alben</h3>
                                        <ul class="unig unig-project-album-list-items">
                                            {% for album in project.album_list %}
                                                <li>
                                                    <a href="/unig/project/{{ project.nid }}/{{ album.nid }}">{{ album.title }}</a>
                                                </li>

                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}


                            </article>

                    {# ------------------- End Admin -------------------------- #}

                {% else %}

                    {# ----------- YEAR ----------- #}
                    {% if sort_year != project.year %}
                        <div class="unig-project-year"><h2>{{ project.year }}</h2></div>
                    {% endif %}

                    {% if project.private and logged_in == false %}

                    {% else %}


                        <article class="unig unig-project">

                            {# ----------- Gallery ----------- #}
                            <div class="unig-project-preview">
                                <a href="/unig/lightgallery/{{ project.nid }}">
                                    <div class="unig-gallery-preview-wrapper">
                                        <img src="{{ project.cover_image.unig_cover }}" alt="">
                                    </div>
                                </a>
                            </div>

                            {# ----------- Datum ----------- #}
                            <div class="unig-project-date"> {{ datum }}</div>


                            {# ----------- Titel ----------- #}
                            <h2 class="unig-project-title">
                                <a href="/unig/project/{{ project.nid }}">
                                    {{ project.title }}
                                </a>
                            </h2>


                            {# ----------- Anzahl Bilder ----------- #}
                            <div class="unig-project-number-of-items">
                                {% if project.number_of_items == 1 %}
                                    {{ project.number_of_items }} Bild
                                {% elseif project.number_of_items > 1 %}
                                    {{ project.number_of_items }} Bilder
                                {% endif %}
                            </div>

                            {# ----------- description ----------- #}
                            <div class="unig-project-description">{{ project.description }}</div>

                            {# ----------- copyright ----------- #}
                            <div class="unig-project-copyright">{{ project.copyright }}</div>

                        </article>

                        </li>
                    {% endif %}

                {% endif %}

                {% set sort_year = project.year %}

            {% endfor %}

        </ul>
    </div>
</div>