{% set datum = project.timestamp|format_date(0, "d. F Y" ) %}


<div id="unig-main" class="unig unig-project unig-project-id" data-unig-project-id="{{ project.id }}">
  <div class="unig-header">

    <div class="animate-container-{{ project.id }}">
      {# Toolbar - Project - Normal #}
      <div
        class="unig-project-{{ project.id }} unig-toolbar unig-toolbar-info unig-project-normal-container-{{ project.id }} unig-project-private-status {% if project.private %} private {% endif %}"
        style="display: block">

        {# Header #}
        <div class="unig-toolbar-header">
          {# Title #}
          <div class="unig-toolbar-title"></div>
        </div>

        {# Body#}
        <div class="unig-toolbar-body block">

          {# Fieldset bank #}
          <div class="unig-fieldset unig-fieldset-project block">

            {# Header #}
            <div class="unig-fieldset-header">
              <div class="unig-fieldset-title"></div>
            </div>

            {# Body#}
            <div class="unig-fieldset-body block">

              {# Left#}
              <div class="unig-fieldset-item">
                <div>


                  {#  -----------   Category  -----------  #}
                  <div class="unig-project-category">

                    {#  -----------   Edit Root  -----------  #}
                    <div class="unig-project-category-{{ project.id }}">

                      {# ----------- Edit Trigger ----------- #}
                      <div class="unig-edit-trigger" data-unig-project-id="{{ project.id }}"
                           data-unig-field="category"
                           data-unig-mode="project"
                           data-unig-form="option_list">

                        {# ----------- Edit Content ----------- #}
                        <div class="unig-project-category unig-edit-content unig-default-box ">
                          {% if not project.category %}
                            <span class="unig-input-placeholder"> {% trans %} Category {% endtrans %} </span>
                          {% else %}
                            {{ project.category }}
                          {% endif %}
                        </div>

                      </div>

                      {# ----------- Edit Input ----------- #}
                      <div class="unig-edit-input" style="display: none">


                        <select name="unig-project-category-{{ project.id }}"
                                id="unig-project-category-{{ project.id }}-input">
                          {% for category_item in project.category_list %}
                            <option
                              value="{{ category_item.id }}"{% if category_item.name == project.category %} selected {% endif %}>{{ category_item.name }} </option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>

                  </div>


                  {#  -----------   Title  -----------  #}
                  <div class="unig-project-title">

                    {#  -----------   Edit Root  -----------  #}
                    <div class="unig-project-title-{{ project.id }}">

                      {# ----------- Edit Trigger ----------- #}
                      <div class="unig-edit-trigger" data-unig-project-id="{{ project.id }}"
                           data-unig-field="title"
                           data-unig-mode="project">

                        {# ----------- Edit Content ----------- #}
                        <h2 class="unig-project-title unig-edit-content unig-default-box ">
                          {{ project.title }}
                        </h2>

                      </div>

                      {# ----------- Edit Input ----------- #}
                      <div class="unig-edit-input" style="display: none">

                        <input id="unig-project-title-{{ project.id }}-input"
                               title="Title"
                               class="unig-project-title"
                               type="text"
                               size="26"
                               value="{{ project.title }}">
                      </div>
                    </div>

                  </div>


                  {#  -----------   Description  -----------  #}
                  <div class="unig-project-description">

                    {#  -----------   Edit Root  -----------  #}
                    <div class="unig-project-description-{{ project.id }}">

                      {# ----------- Edit Trigger ----------- #}
                      <div class="unig-edit-trigger"
                           data-unig-project-id="{{ project.id }}"
                           data-unig-field="description"
                           data-unig-mode="project"
                      >

                        {# ----------- Edit Content ----------- #}
                        <div class="unig-edit-content unig-default-box-textarea">

                          {% if not project.description %}
                            <span class="unig-input-placeholder"> {% trans %} Add description {% endtrans %} </span>
                          {% else %}
                            {{ project.description|raw }}
                          {% endif %}

                        </div>
                      </div>

                      {# ----------- Edit Input ----------- #}
                      <div class="unig-edit-input" style="display: none">
                                                <textarea
                                                  id="unig-project-description-{{ project.id }}-input"
                                                  rows="3"
                                                  cols="40"
                                                  title="Description">{{ project.description }}</textarea>
                      </div>
                    </div>
                  </div>


                </div>
              </div>


              {# Right #}
              <div class="unig-fieldset-item">


                <div class="unig-row">


                  {# Number of Items #}
                  {# ----------- Number of Items ----------- #}
                  <div class="unig-project-number-of-items">
                    <i class="fas fa-image" aria-hidden="true"></i>
                    <span class="number-of-visible"> {{ project.number_of_items }} </span>
                    {% trans %} of {% endtrans %}
                    <span class="number-of-all-files">{{ project.number_of_items }}</span>
                  </div>

                  {# ----------- Private ----------- #}

                  {% if project.private %}
                    {% set title_private =  "Dieses Projekt ist privat" %}
                  {% else %}
                    {% set title_private = "Dieses Projekt ist öffentlich" %}
                  {% endif %}

                  <div class="unig-project-public-private unig-button-icon-info unig-project-private-trigger"
                       title="{{ title_private }}">
                                            <span
                                              class="unig-project-private" {% if not project.private %} style="display: none" {% endif %}>
                                                <i class="fas fa-lock"></i>
                                            </span>

                    <span class="unig-project-public" {% if  project.private %} style="display: none" {% endif %}>
                                                <i class="fas fa-lock-open"></i>
                                            </span>
                  </div>

                  {# ----------- Delete ----------- #}
                  <div class="unig-button-icon-info unig-project-delete unig-project-delete-trigger"
                       title="{% trans %} Delete Project {% endtrans %}">
                    <i class="fas fa-trash " aria-hidden="true"></i>
                  </div>


                  {#  -----------   Prozess Indicator -----------  #}
                  <div class="unig-project-{{ project.id }}">

                                        <span class="unig-toolbar-icon ">
                                       <span class="unig-process-spinner" style="display: none"> <i
                                           class="fas fa-spinner fa-spin" aria-hidden="true"></i></span>
                                       <span class="unig-process-success" style="display: none"> <i
                                           class="fas fa-check" aria-hidden="true"></i></span>
                                       <span class="unig-process-error" style="display: none"> <i
                                           class="fas fa-exclamation-triangle" aria-hidden="true"></i></span>
                                        </span>

                  </div>

                </div>


                {#  -----------   Date  -----------  #}
                <div class="unig-project-date">

                  {#  -----------   Edit Root  -----------  #}
                  <div class="unig-project-date-{{ project.id }}">

                    {# ----------- Edit Trigger ----------- #}
                    <div class="unig-edit-trigger" data-unig-project-id="{{ project.id }}"
                         data-unig-field="date"
                         data-unig-mode="project">

                      {# ----------- Edit Content ----------- #}
                      <div class="unig-project-date unig-edit-content unig-default-box ">
                        {{ project.date }}
                      </div>

                    </div>

                    {# ----------- Edit Input ----------- #}
                    <div class="unig-edit-input" style="display: none">

                      <input id="unig-project-date-{{ project.id }}-input"
                             title="date"
                             class="unig-project-date"
                             type="date"
                             value="{{ project.date_drupal }}">
                    </div>
                  </div>

                </div>

                {#  -----------   Copyright  -----------  #}
                <div class="unig-project-copyright">

                  {#  -----------   Edit Root  -----------  #}
                  <div class="unig-project-copyright-{{ project.id }}">

                    {# ----------- Edit Trigger ----------- #}
                    <div class="unig-edit-trigger" data-unig-project-id="{{ project.id }}"
                         data-unig-field="copyright"
                         data-unig-mode="project">

                      {# ----------- Edit Content ----------- #}
                      <div class="unig-project-copyright unig-edit-content unig-default-box ">
                        {% if not project.copyright %}
                          <span class="unig-input-placeholder"> {% trans %} Add copyright {% endtrans %} </span>
                        {% else %}
                          {{ project.copyright }}
                        {% endif %}

                      </div>

                    </div>

                    {# ----------- Edit Input ----------- #}
                    <div class="unig-edit-input" style="display: none">

                      <input id="unig-project-copyright-{{ project.id }}-input"
                             title="copyright"
                             class="unig-project-copyright"
                             type="text"
                             size="26"
                             value="{{ project.copyright }}">
                    </div>
                  </div>

                </div>


              </div>

              {# Fieldset Footer #}
              <div class="unig-fieldset-footer"></div>


            </div> {# / Fieldset #}

          </div>{# / Toolbar Body #}

          {# Toolbar Footer #}
          <div class="unig-toolbar-footer"></div>


          {#  ----------- Confirm Project  -----------  #}
          <div class="unig-project-delete-confirm unig-project-delete-confirm-{{ project.id }}"
               style="display: none">

            {# Message#}
            <div class="unig-project-delete-confirm-message">
              {% trans %} Delete this project and all its images? {% endtrans %}
            </div>

            {# Buttons #}
            <div class="unig-row">
              {# Button Cancel#}
              <div role="button"
                   class="unig-button
                                                  unig-button-project-delete-cancel
                                                  unig-button-project-delete-cancel-{{ project.id }}
                                                  unig-project-delete-cancel-trigger">
                {% trans %} No, Cancel {% endtrans %}
              </div>

              {# Button Delete#}
              <a role="button"
                 class="use-ajax unig-button unig-button-danger
                                               unig-button-project-delete-yes
                                               unig-button-project-delete-yes-{{ project.id }}"
                 href="{{ path('unig.api.project.delete', {'project_id': project.id}) }}">
                {% trans %} Yes, Delete Project {% endtrans %}
              </a>
            </div>


          </div>

        </div>
      </div>

    </div>

    {# Toolbar - General #}
    <div class="unig-toolbar unig-toolbar-general">


      {# Fieldset - General #}
      <div class="unig-fieldset no-border unig-fieldset-general">

        {# All Projects #}
        <a type="button" class=" unig-button unig-button-show-projects"
           href="{{ path('unig.list') }}">
          <i class="fas fa-list" aria-hidden="true"></i>
          {% trans %} All Projects {% endtrans %}
        </a>

        {# Upload #}
        <a type="button" class="unig-button unig-button-files-add"
           href="{{ path('unig.upload', {'project_id': project.id}) }}">
          <i class="fas fa-plus" aria-hidden="true"></i>
          {% trans %} Add Files {% endtrans %}
        </a>


        {# sort #}
        <div class="unig-button unig-button-sort-toggle">
          <i class="fas fa-sort" aria-hidden="true"></i>
          {% trans %} Sort order {% endtrans %}
        </div>
      </div>

      {# Fieldset - Keywords #}
      <div class="unig-fieldset no-border unig-fieldset-keywords">

        {# Button Keywords #}
        <div class="unig-button unig-button-toolbar-keywords-toggle unig-toolbar-keywords-toggle-trigger">
          <i class="fas fa-key" aria-hidden="true"></i>
          <span class="unig-keywords-display"></span>
        </div>

        {# Button People #}
        <div class="unig-button unig-button-toolbar-people-toggle unig-toolbar-people-toggle-trigger">
          <i class="fas fa-user" aria-hidden="true"></i>
          <span class="unig-people-display"></span>
        </div>
      </div>

      {# Fieldset - Downloads #}
      <div class="unig-fieldset no-border unig-fieldset-downloads">

        {# Button downloads #}
        <div class="unig-button unig-toolbar-download-toggle unig-toolbar-download-toggle-trigger">
          <i class="fas fa-download" aria-hidden="true"></i>
          <span class="unig-dl-number-of">0</span>
        </div>
      </div>

      {# Fieldset - Favorit #}
      <div class="unig-fieldset no-border unig-fieldset-favorite">

        {# Button favorit #}
        <div class="unig-button unig-toolbar-favorite-toggle unig-toolbar-favorite-toggle-trigger">
          <i class="fas fa-heart" aria-hidden="true"></i>
          <span class="unig-favorite-number-of">0</span>
        </div>
      </div>

      {# Fieldset - Modus #}
      <div class="unig-fieldset no-border unig-fieldset-modus">

        {# Button Edit #}
        <div class="unig-button unig-button-files-edit unig-project-edit-trigger" style="display: none">
          <i class="fas fa-edit" aria-hidden="true"></i>
          {% trans %} Edit {% endtrans %}
        </div>

        {# Button Preview #}
        <a role="button" class="unig-button unig-button-files-preview"
           href="/unig/lightgallery/{{ project.id }}">
          <i class="fas fa-image" aria-hidden="true"></i>
          {% trans %} Preview {% endtrans %}
        </a>
      </div>

      {# Fieldset - Themes #}
      <div class="unig-fieldset no-border unig-fieldset-themes">

        {# Button Theme Dark #}
        <div class="unig-button unig-button-theme-dark unig-theme-dark-trigger">
          <i class="fas fa-adjust" aria-hidden="true"></i>
          {% trans %} Dark {% endtrans %}
        </div>

        {# Button Theme Default #}
        <div class="unig-button unig-button-theme-default  unig-theme-default-trigger"
             style="display: none">
          <i class="fas fa-adjust" aria-hidden="true"></i>
          {% trans %} Bright {% endtrans %}
        </div>
      </div>

      {# Fieldset - Image Size #}
      <div class="unig-fieldset no-border unig-fieldset-image-size unig-button-group">

        {# Button Image Size - Small - 110 px #}
        <div class="unig-button unig-button-image-size unig-button-image-size-small unig-image-size-small-trigger ">
          <i class=" icon-image-size-small"></i>
        </div>

        {# Button Image Size - Medium - 220 px #}
        <div
          class="unig-button unig-button-image-size unig-button-image-size-medium unig-image-size-medium-trigger active">
          <span class=" icon-image-size-medium"></span>
        </div>

        {# Button Image Size - Big - 480 px #}
        <div class="unig-button unig-button-image-size unig-button-image-size-large unig-image-size-large-trigger ">
          <span class="icon-image-size-large"></span>
        </div>

      </div>

      {# Fieldset - help #}
      <div class="unig-fieldset no-border unig-fieldset-help">
        <div class="unig-button-icon unig-button-project-help  unig-help-toggle-trigger">
          <i class="fas fa-question-circle" aria-hidden="true"></i>
          <span class="button-label" style="display: none">{% trans %} Help {% endtrans %}</span>
        </div>
      </div>

      {# Fieldset - Options #}
      <div class="unig-fieldset no-border unig-fieldset-options ">

        <div class="unig-dropdown-wrapper">
          {# Button Option #}
          <div class="unig-button-icon unig-button-project-options  unig-project-options-trigger">
            <i class="fas fa-cog" aria-hidden="true"></i>
            <span class="button-label" style="display: none">{% trans %} Options {% endtrans %}</span>
          </div>

          {# Dropdown #}
          <div class="unig-dropdown unig-dropdown-project-options" style="display: none">

            {# Header #}
            <div class="unig-dropdown-header">
              <span class="unig-dropdown-header-label"> {% trans %} Options {% endtrans %}</span>
            </div>

            {# Main #}
            <div class="unig-dropdown-main">
              {# Row #}

              {# Item - Extract Keywords #}
              <div class="unig-dropdown-row">
                <div class="unig-dropdown-item unig-extract-keywords-trigger">
                  <span class="unig-dropdown-item-icon"><i class="fas fa-key" aria-hidden="true"></i></span>
                  <span class="unig-dropdown-item-label"> {% trans %} Extract Keywords {% endtrans %}</span>
                </div>
              </div>

              {# Item - Clear Cache #}
              <div class="unig-dropdown-row">
                <div class="unig-dropdown-item unig-clear-project-cache-trigger" data-id="{{ project.id }}">
                  <span class="unig-dropdown-item-icon"><i class="fas fa-ban" aria-hidden="true"></i></span>
                  <span class="unig-dropdown-item-label"> {% trans %} Clear Project Cache {% endtrans %}</span>
                </div>
              </div>

              {# Item - rebuild Cache #}
              <div class="unig-dropdown-row">
                <div class="unig-dropdown-item unig-rebuild-project-cache-trigger" data-id="{{ project.id }}">
                  <span class="unig-dropdown-item-icon"><i class="fas fa-recycle" aria-hidden="true"></i></span>
                  <span class="unig-dropdown-item-label"> {% trans %} Rebuild Project Cache {% endtrans %}</span>
                </div>
              </div>

              {# Item - Generate Image Styles #}
              <div class="unig-dropdown-row">
                <div class="unig-dropdown-item unig-options-generate-image-styles">
                  {# start generating image styles #}
                  <div class="unig-options-generate-image-styles-start unig-generate-image-styles-start-trigger">
                    <span class="unig-dropdown-item-icon"><i class="fas fa-images" aria-hidden="true"></i></span>
                    <span class="unig-dropdown-item-label"> {% trans %} Generate Image Styles {% endtrans %}</span>
                  </div>
                  {# stop #}
                  <div class="unig-options-generate-image-styles-stop unig-generate-image-styles-stop-trigger"
                       style="display:none;">
                    <span class="unig-dropdown-item-icon"><i class="fas fa-cog fa-spin" aria-hidden="true"></i></span>
                    <span class="unig-dropdown-item-label"> {% trans %} Stop generating Styles {% endtrans %}</span>
                  </div>
                </div>

              </div>
            </div>

            {# Footer #}
            <div class="unig-dropdown-footer">
              {# Close Button #}
              <div class="unig-dropdown-close unig-project-options-close-trigger">
                <span class="unig-dropdown-footer-icon"><i class="fas fa-times" aria-hidden="true"></i></span>
                <span class="unig-dropdown-footer-label"> {% trans %} Close {% endtrans %}</span>
              </div>
            </div>

          </div>

        </div> {# unig-dropdown-wrapper #}

      </div> {# Fieldset - Options #}


    </div> {# Toolbar - General #}

    {# Toolbar - Help #}
    <div class="unig-toolbar unig-toolbar-help" style="display: none">

      {# Header #}
      <div class="unig-toolbar-header">
        <span class="unig-toolbar-title">{% trans %} Help {% endtrans %}</span>
      </div>

      {# Body #}
      <div class="unig-toolbar-body">
        {{ project.help|raw }}
      </div>

      {# Footer #}
      <div class="unig-toolbar-footer">
        {# Button Cancel #}
        <div class="unig-button unig-button-info unig-help-close-trigger">
          <i class="fas fa-times" aria-hidden="true"></i>
          {% trans %} Close Help {% endtrans %}
        </div>
      </div>

    </div>


  </div> {# Toolbar - Help #}

  {# Toolbar - Sort #}
  <div class="unig-toolbar unig-toolbar-sort" style="display: none">

    <span class="unig-toolbar-title">{% trans %} Sort order {% endtrans %}</span>

    {# Button Save Order #}
    <div class="unig-button unig-button-ok unig-button-sort-save">
      <i class="fas fa-check" aria-hidden="true"></i>
      {% trans %} Save Order {% endtrans %}
    </div>

    {# Button reset to alphabetical #}
    <div class="unig-button unig-button-warning unig-button-sort-alphanumeric">
      <i class="fas fa-times" aria-hidden="true"></i>
      {% trans %} Reset to alphabetical {% endtrans %}
    </div>

    {# Button Cancel #}
    <div class="unig-button unig-button-warning unig-button-sort-cancel">
      <i class="fas fa-times" aria-hidden="true"></i>
      {% trans %} Cancel {% endtrans %}
    </div>


  </div> {# Toolbar - Sort #}

  {# Toolbar - Download #}
  <div class="unig-toolbar unig-toolbar-download" style="display: none">

    <div>
      <div class="unig-dl-info-head">
        {% trans %} Files: {% endtrans %} <span class="unig-dl-number-of">0</span>

      </div>
      <div class="unig-dl-info-body">
        <div>
          {# Button Add All to  Download List  #}
          <div class="unig-button unig-button-small  unig-button-download-add-all-to-list-trigger">
            <i class="fas fa-plus-circle" aria-hidden="true"></i>
            {% trans %} Add all  {% endtrans %}
          </div>

          {# Button Clear Download List  #}
          <div class="unig-button unig-button-small  unig-button-download-clear-list-trigger">
            <i class="fas fa-trash" aria-hidden="true"></i>
            {% trans %} Empty List  {% endtrans %}
          </div>
        </div>

        <div>

          {# Button Add All to  Download List  #}
          <div
            class="unig-button unig-button-small
              unig-button-download-add-current-to-list
              unig-button-download-add-current-to-list-trigger"
            style="display: none">
            <span class="icon-of-visible"> </span> {% trans %} Add {% endtrans %} <span
              class="number-of-visible"> 0 </span> {% trans %} of {% endtrans %} <span
              class="number-of-all-files">{{ project.number_of_items }}</span> {% trans %} Images {% endtrans %}
          </div>

        </div>


        <div class="unig-toolbox">
          <table class="unig-bulk-download-table">

            {# SD #}
            <tr role="button" class="unig-bulk-download-sd-trigger">
              <td class="unig-file-download-table-label">SD</td>
              <td class="unig-file-download-table-width">720&thinsp;px</td>
              <td class="unig-file-download-table-size">
                <span class="unig-file-download-table-size-sd">0 MB</span>
              </td>
              <td class="unig-file-download-table-icon">
                <i class="fas fa-download" aria-hidden="true"></i>
              </td>

            </tr>

            {# HD #}
            <tr role="button" class="unig-bulk-download-hd-trigger">
              <td class="unig-file-download-table-label">HD</td>
              <td class="unig-file-download-table-width">1920&thinsp;px</td>
              <td class="unig-file-download-table-size">
                <span class="unig-file-download-table-size-hd">0 MB</span>
              </td>
              <td class="unig-file-download-table-icon">
                <i class="fas fa-download" aria-hidden="true"></i>
              </td>

            </tr>

            {# XL #}
            <tr role="button" class="unig-bulk-download-xl-trigger">
              <td class="unig-file-download-table-label">XL</td>
              <td class="unig-file-download-table-width">4500&thinsp;px</td>
              <td class="unig-file-download-table-size">
                <span class="unig-file-download-table-size-xl">0 MB</span>
              </td>
              <td class="unig-file-download-table-icon"><i class="fas fa-download"
                                                           aria-hidden="true"></i>
              </td>

            </tr>
          </table>
        </div>

        {# Messages #}
        <div class="unig-bulk-download-message-container">
          <div>

            <div class="unig-message-box-header">
              <div class="unig-message-box-close-trigger">
                <i class="fas fa-times-circle" aria-hidden="true"></i>
              </div>
            </div>

            <div class="unig-message-box-picto">
            </div>

            <div class="unig-message-box-body">
            </div>
          </div>
        </div>

      </div>


      {# Download Footer #}
      <div class="unig-dl-info-footer">
      </div>
    </div>

    {# Download Thumbnails #}
    <div class="unig-dl-thumbnails">
      {# Placeholder for Thumbnails #}
    </div>

  </div> {# Toolbar - Download #}

  {# Toolbar - Keywords #}
  <div class="unig-toolbar unig-toolbar-keywords" style="display: none">
    <div class="unig-toolbar-head">

      {# title #}
      <div class="unig-toolbar-head-title">
          <span class="unig-toolbar-head-title-icon">
            <i class="fas fa-key" aria-hidden="true"></i>
          </span>
        <span class="unig-toolbar-head-title-label">
            {% trans %} Keywords {% endtrans %}
          </span>
      </div>

      {# space #}
      <div class="unig-space"></div>

      {# separator #}
      <div class="unig-separator"></div>

      {# Unmark all  #}
      <div
        class="unig-tag unig-unmark-all-tags unig-button-keywords-unmark-all-tags unig-keywords-unmark-all-tags-trigger">
        <i class="far fa-times" aria-hidden="true"></i>
        <span class="unig-tags-title">{% trans %} Uncheck all {% endtrans %}</span>
      </div>

      {# Mark all #}
      <div class="unig-tag unig-mark-all-tags unig-button-keywords-mark-all-tags unig-keywords-mark-all-tags-trigger">
        <i class="fas fa-circle" aria-hidden="true"></i>
        <span class="unig-tags-title">{% trans %} Check all {% endtrans %}</span>
      </div>

      {#  Show Keywords on Files #}
      <div
        class="unig-tag unig-show-keywords-on-files unig-show-keywords-on-files-trigger unig-button-keywords-toggle-all">
        <i class="fas fa-list" aria-hidden="true"></i>
        <span class="unig-tags-title">{% trans %} Show Keywords on Files {% endtrans %}</span>
      </div>


      {# search #}
      {#        <div class="unig-toolbar-head-search">
                <i class="fas fa-search" aria-hidden="true"></i>
                <input type="text" name="unig-keywords-autocomplete"
                       placeholder="{% trans %} search {% endtrans %}">
              </div>#}

    </div>
    <div class="unig-toolbar-body">
      <div class="unig-toolbar-keywords-tags-container">
        {# Placeholder for tags#}
      </div>
    </div>

    {# Button Show Keywords on Files #}
    <div class="unig-toolbar-footer">
    </div>

  </div> {# Toolbar - Keywords #}

  {# Toolbar - People #}
  <div class="unig-toolbar unig-toolbar-people" style="display: none">

    <div class="unig-toolbar-head">
      {# title #}
      <div class="unig-toolbar-head-title">
          <span class="unig-toolbar-head-title-icon">
            <i class="fas fa-user" aria-hidden="true"></i>
          </span>
        <span class="unig-toolbar-head-title-label">
            {% trans %} People Names {% endtrans %}
          </span>
      </div>

      {# space #}
      <div class="unig-space"></div>

      {# separator #}
      <div class="unig-separator"></div>

      {# Unmark all  #}
      <div
        class="unig-tag unig-unmark-all-tags unig-button-people-unmark-all-tags unig-people-unmark-all-tags-trigger">
        <i class="far fa-times" aria-hidden="true"></i>
        <span class="unig-tags-title">{% trans %} Uncheck all {% endtrans %}</span>
      </div>

      {# Mark all #}
      <div class="unig-tag unig-mark-all-tags unig-button-people-mark-all-tags unig-people-mark-all-tags-trigger">
        <i class="fas fa-circle" aria-hidden="true"></i>
        <span class="unig-tags-title">{% trans %} Check all {% endtrans %}</span>
      </div>

      {#  Show Keywords on Files #}
      <div class="unig-tag unig-show-people-on-files unig-show-people-on-files-trigger unig-button-people-toggle-all">
        <i class="fas fa-list" aria-hidden="true"></i>
        <span class="unig-tags-title">{% trans %} Show People Names on Files {% endtrans %}</span>
      </div>

    </div>
    <div class="unig-toolbar-body">
      <div class="unig-toolbar-people-tags-container">
        {# Placeholder for tags#}
      </div>
    </div>
    <div class="unig-toolbar-footer">
    </div>
  </div> {# Toolbar - People #}

  {# --------------- Ajax Message  --------------- #}
  <div class="unig-messages-container">
    <ul class="unig-messages">
    </ul>
  </div>

  {# --------------- Ajax Messages Generate Images  --------------- #}
  <div class="unig-messages-generate-images" style="display: none">
    {# Text #}
    <span class="unig-generate-images-currend-process-text">
                    <i class="fas fa-info-circle"></i>
                    {% trans %} Generate preview images: {% endtrans %}
                    <span class="unig-preview-image-counter">0</span>
                    {% trans %} of {% endtrans %}
                    <span class="unig-preview-image-number-of-images">0</span>.
                </span>

    {# Process Indicator #}
    <span class="unig-preview-image-process">
                    <span class="unig-preview-image-process-work"><i class="fas fa-spinner fa-spin"></i></span>
                    <span class="unig-preview-image-process-done" style="display: none"><i
                        class="fas fa-check"></i></span>
                </span>

    {# Current Image in Work Name#}
    <span class="unig-generate-images-current-process-name">Name</span>

    {# Current Image in Work Size#}
    <span class="unig-generate-images-current-process-size">Size</span>

    <span class="unig-messages-generate-images-close-trigger"> <i class="fas fa-times"></i></span>

  </div>

</div>
{# Unig Body #}
<div class="unig-body">
  <div class="unig unig-project unig-lightgallery">

    <div class="unig-project-body">{{ project.body }}</div>

    {# Album List #}
    <div class="unig-album">
      <ul>
        <li class="unig-albumlist-all">
          <a href="/unig/project/{{ project.id }}">Alle</a>
        </li>

        {% for album in project.album_list %}
          <li class=" unig-albumlist-item">
            <a href="/unig/project/{{ project.id }}/{{ album.id }}">{{ album.title }}</a>
          </li>

        {% endfor %}
        <li class="unig-albumlist-new-container">
          <div id="unig-form-new-album-input-messages"></div>

          <div id="ajax-container-new-album">
            <a class="ajax-container-new-album-trigger">{% trans %} Create new album {% endtrans %}

            </a>
            <div id="ajax-container-new-album-container" data-project-id="{{ project.id }}"
                 style="display: none">
              {{ drupal_form('Drupal\\unig\\Form\\NewAlbumForm' ) }}
            </div>
          </div>
        </li>

      </ul>
    </div>

  </div>

  <div class="unig">
    <ul class="unig-gallery unig-sortable unig-images-medium" id="lightgallery-{{ project.id }}">

      <input type="hidden" id="unig-project-id" value="{{ project.id }}">

      {% for file in files %}

        <li class="unig-sortable-item sort-handle unig-file-item unig-file-edit unig-file-{{ file.id }}"
            id="unig-file-{{ file.id }}" data-unig-file-id="{{ file.id }}">


          {# hidden inputs #}
          <div>
            <input type="hidden" id="is-marked-{{ file.id }}" name="is-market-{{ file.id }}"
                   value="0">
          </div>


          <div>
            {# ----------- Sortable ----------- #}
            <div class="unig-sortable-head unig-sortable-only" style="display: none">
              {# ----------- Weight ----------- #}
              <div class="unig-sortable-weight">
                {{ file.weight }}
              </div>

            </div>

            {# ----------- HEAD ----------- #}
            <div class="unig-file-head unig-sortable-hide">

              {# ----------- Download Mark ----------- #}
              <div
                class="unig-file-picto unig-file-head-item unig-file-download-mark unig-file-download-mark-trigger">
                <i class="fas fa-bookmark" aria-hidden="true"
                   aria-label="{% trans %} Mark for Download {% endtrans %}"></i>
              </div>

              {# ----------- Favorite ----------- #}
              <div
                class="unig-file-picto unig-file-head-item unig-file-favorite unig-file-favorite-trigger  {% if file.favorite != 0 %} favorite {% endif %}">
                <i class="fas fa-heart" aria-hidden="true"
                   aria-label="{% trans %} Mark as Favorite {% endtrans %}"></i>
              </div>

              {# ----------- Rating ----------- #}
              <div class="unig-file-head-item unig-file-rating">

                {# thumbs-down #}
                <span class="unig-file-picto unig-file-rating-down unig-file-rating-down-trigger">
                                        <i class="fas fa-thumbs-down" aria-hidden="true"></i>
                                    </span>

                {# badge #}
                <span
                  class="unig-file-item-info unig-file-rating-badge {% if file.rating != 0 %} active {% endif %}">{% if file.rating != 0 %} {{ file.rating }} {% endif %}</span>

                <input class="unig-file-rating-input" name="file_rating" type="hidden"
                       value="{{ file.rating }}">

                {# thumbs-up #}
                <span class="unig-file-picto unig-file-rating-up unig-file-rating-up-trigger">
                                        <i class="fas fa-thumbs-up" aria-hidden="true"></i>
                                    </span>
              </div>

              {# ----------- Info ----------- #}
              <div class="unig-file-head-item unig-file-head-info">


                {# ----------- Weight ----------- #}
                <span class="unig-file-item-info unig-file-weight" style="display: none">
                                    {{ file.weight }}
                                    </span>

                {# ----------- NODE ID ----------- #}
                <span class="unig-file-item-info unig-file-id" style="display: inline-block">
                                    {{ file.id }}
                                    </span>

                {# ----------- Index Number ----------- #}
                <span class="unig-file-item-info unig-file-index">
                                    {{ loop.index }}
                                    </span>
              </div>
            </div>

            {#  -----------   Image  -----------  #}
            <div class="lightgallery-item"
                 id="unig-lightgallery-placeholder-{{ file.id }}"
                 data-sub-html="{{ file.title }}"
                 data-src="{{ file.image.unig_hd.url }}">

              {% if file.label is not empty %}
                <div class="field-label">
                  <label>{{ file.field_label }}</label>
                </div>
              {% endif %}
              <div class="field-content">

                <div class="unig-image-background unig-lazyload-container">
                  <div class="unig-lazyload-placeholder"
                       id="unig-lazyload-placeholder-{{ file.id }}">
                    <i class="fas fa-image" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>

            {#  -----------   Project Cover  -----------  #}
            <div class="unig-image-is-cover-container unig-image-is-cover-container-{{ file.id }}">


              <div class="unig-image-is-cover {% if project.cover_id == file.id %}active{% endif %} ">
                {% trans %} Cover Picture {% endtrans %}
              </div>

              <div role="button"
                   class="unig-set-project-cover-button unig-set-project-cover-trigger {% if project.cover_id != file.id %}active{% endif %} ">
                <div class="unig-set-project-cover-message">
                  {% trans %}  Set as cover picture {% endtrans %}


                </div>
              </div>

              <div class="unig-set-project-cover-process"><i class="fas fa-spinner fa-spin"></i>
              </div>
            </div>


            {#  -----------   Title  -----------  #}
            <div class="unig-file-title">

              {#  -----------   Edit Root  -----------  #}
              <div class="unig-file-title-{{ file.id }}">

                {# ----------- Edit Trigger ----------- #}
                <div class="unig-edit-trigger" data-unig-file-id="{{ file.id }}"
                     data-unig-field="title"
                     data-unig-mode="file">

                  {# ----------- Edit Content ----------- #}
                  <div class="unig-edit-content unig-default-box ">
                    {{ file.title }}
                  </div>

                </div>

                {# ----------- Edit Input ----------- #}
                <div class="unig-edit-input" style="display: none">

                  <input id="unig-file-title-{{ file.id }}-input"
                         title="Title"
                         type="text"
                         size="26"
                         value="{{ file.title }}">
                </div>
              </div>

            </div>


            {#  -----------   Description  -----------  #}
            <div class="unig-file-description">

              {#  -----------   Edit Root  -----------  #}
              <div class="unig-file-description-{{ file.id }}">

                {# ----------- Edit Trigger ----------- #}
                <div class="unig-edit-trigger"
                     data-unig-file-id="{{ file.id }}"
                     data-unig-field="description"
                     data-unig-mode="file"
                >

                  {# ----------- Edit Content ----------- #}
                  <div class="unig-edit-content unig-default-box-textarea">

                    {% if not file.description %}
                      <span class="unig-input-placeholder"> {% trans %} Add description {% endtrans %} </span>
                    {% else %}
                      {{ file.description }}
                    {% endif %}

                  </div>
                </div>

                {# ----------- Edit Input ----------- #}
                <div class="unig-edit-input" style="display: none">

                                <textarea
                                  id="unig-file-description-{{ file.id }}-input"
                                  rows="4"
                                  cols="26"
                                  title="Description">{{ file.description }}</textarea>
                </div>
              </div>
            </div>


            {#  -----------   MIDDLE  -----------  #}
            <div class="unig-file-middle unig-sortable-hide">

              <div class="unig-file-middle-toolbox">

                {#  -----------   keywords button  -----------  #}
                <span class="unig-toolbox-button unig-file-picto unig-file-keywords-toolbox-trigger">
                                        <i class="fas fa-key" aria-hidden="true"></i>
                                    </span>

                {#  -----------   people button  -----------  #}
                <span class="unig-toolbox-button unig-file-picto unig-file-people-toolbox-trigger">
                                        <i class="fas fa-user" aria-hidden="true"></i>
                                    </span>

                {#  -----------   Download button  -----------  #}
                <span class="unig-toolbox-button unig-file-picto  unig-file-download-toolbox-trigger">
                                        <i class="fas fa-download" aria-hidden="true"></i>
                                    </span>

                {#  -----------   Options button  -----------  #}
                <span class="unig-toolbox-button unig-file-picto unig-file-options-toolbox-trigger">
                                        <i class="fas fa-cog" aria-hidden="true"></i>
                                    </span>

                {#  -----------   Meta Info button  -----------  #}
                <span class="unig-toolbox-button unig-file-picto unig-file-metainfo-toolbox-trigger">
                                        <i class="fas fa-info-circle" aria-hidden="true"></i>
                                    </span>


                {#  -----------   Prozess Indicator -----------  #}
                <span class="unig-toolbox-icon unig-file-picto">
                                       <span class="unig-process-spinner" style="display: none"> <i
                                           class="fas fa-spinner fa-spin" aria-hidden="true"></i></span>
                                       <span class="unig-process-success" style="display: none"> <i
                                           class="fas fa-check" aria-hidden="true"></i></span>
                                       <span class="unig-process-error" style="display: none"> <i
                                           class="fas fa-exclamation-triangle" aria-hidden="true"></i></span>
                                    </span>
              </div>
            </div>

            {#  -----------   Toolbox Options  -----------  #}
            <div class="unig-toolbox unig-file-options-toolbox" style="display: none">

              {#  -----------   Button Titelbild  -----------  #}
              <span class="unig-file-options-item">
                                <div class="unig-button unig-file-set-cover unig-set-project-cover-trigger"
                                     role="button">
                                    <i class="fas fa-image" aria-hidden="true"></i>
                                    {% trans %} Cover Picture {% endtrans %}


                                </div>
                                </span>

              {#  -----------   Button Löschen  -----------  #}
              <span class="unig-file-options-item">
                    <div class="unig-button-danger unig-file-delete-file unig-file-delete-trigger" role="button">
                        <i class="fas fa-trash" aria-hidden="true"></i>
                        Delete File
                    </div>
                </span>

              {#  -----------   Album  -----------  #}
            </div>

            {#  -----------   Toolbox Meta Info  -----------  #}
            <div class="unig-toolbox  unig-file-metainfo-toolbox" style="display: none">
              <table>
                <tr>
                  <th colspan="2">{{ file.image.original.name }}</th>
                </tr>
                <tr>
                  <th>{% trans %} Size {% endtrans %}

                  </th>
                  <td>{{ file.image.original.file_size_formatted }}</td>
                </tr>
                <tr>
                  <th>{% trans %} Width {% endtrans %}

                  </th>
                  <td>{{ file.image.original.width }} px</td>
                </tr>
                <tr>
                  <th>{% trans %} Height {% endtrans %}

                  </th>
                  <td>{{ file.image.original.height }} px</td>
                </tr>
              </table>
            </div>

            {#  -----------   Toolbox Album  -----------  #}
            <div class="unig-toolbox  unig-file-album-toolbox" style="display: none">
              <p>{% trans %} Add to Album {% endtrans %}

              </p>

              <ul class="unig-gallery-file-album-list-items">
                {% for album in project.album_list %}
                  <li>
                    <a class="unig-button unig-file-add-album use-ajax"
                       href="/unig/nojs/add_album/{{ file.id }}/{{ album.id }}">{{ album.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>

            {#  -----------   Toolbox Download List  -----------  #}


            <div class="unig-toolbox  unig-file-download-toolbox" style="display: none">

              <table class="unig-file-download-table">

                {# add to download list #}
                <tr role="button" class="unig-file-download-mark-trigger">
                  <td class="unig-file-download-table-label"><i class="fas fa-bookmark"
                                                                aria-hidden="true"></i></td>
                  <td class="unig-file-download-table-text" colspan="3">
                    <span class="unig-file-download-mark-add">{% trans %} Add to download list{% endtrans %}</span>
                    <span class="unig-file-download-mark-remove"
                          style="display: none">{% trans %} Remove from download list{% endtrans %}</span>

                  </td>
                </tr>

                {# SD #}
                <tr role="button" class="unig-file-download-trigger"
                    data-unig-file-url="{{ file.image.unig_sd.url }}"
                    data-size="sd"
                    data-name="{{ file.file_name }}"
                    data-id="{{ file.id }}"
                >
                  <td class="unig-file-download-table-label">SD</td>
                  <td class="unig-file-download-table-width">
                    {{ file.image.unig_sd.width }}&thinsp;px
                  </td>
                  <td class="unig-file-download-table-size">
                    <span class="unig-file-download-table-size-sd">{{ file.image.unig_sd.file_size_formatted }}</span>
                  </td>
                  <td class="unig-file-download-table-icon">
                    <i class="fas fa-download" aria-hidden="true"></i>
                  </td>

                </tr>

                {# HD #}
                <tr role="button" class="unig-file-download-trigger"
                    data-unig-file-url="{{ file.image.unig_hd.url }}"
                    data-size="hd"
                    data-name="{{ file.file_name }}"
                    data-id="{{ file.id }}"
                >
                  <td class="unig-file-download-table-label">HD</td>
                  <td class="unig-file-download-table-width">
                    {{ file.image.unig_hd.width }}&thinsp;px
                  </td>
                  <td class="unig-file-download-table-size">
                      <span class="unig-file-download-table-size-hd">
                        {{ file.image.unig_hd.file_size_formatted }}</span>
                  </td>
                  <td class="unig-file-download-table-icon">
                    <i class="fas fa-download" aria-hidden="true"></i>
                  </td>

                </tr>

                {# XL #}
                <tr role="button" class="unig-file-download-trigger"
                    data-unig-file-url="{{ file.image.original.url }}"
                    data-size="xl"
                    data-name="{{ file.file_name }}"
                    data-id="{{ file.id }}"
                >
                  <td class="unig-file-download-table-label">XL</td>
                  <td class="unig-file-download-table-width">
                    {{ file.image.original.width }}&thinsp;px
                  </td>
                  <td class="unig-file-download-table-size">
                      <span
                        class="unig-file-download-table-size-xl">
                        {{ file.image.original.file_size_formatted }}
                      </span>
                  </td>
                  <td class="unig-file-download-table-icon">
                    <i class="fas fa-download" aria-hidden="true"></i>
                  </td>

                </tr>
              </table>
            </div>


            {#  -----------   Toolbox Keyword  -----------  #}
            <div class="unig-toolbox unig-file-keywords-toolbox" style="display: none">

              {#  Keywords  #}
              {% if file.keywords is not empty %}

                {# Title #}
                <span class="unig-toolbox-tag-title-picto">
                                    <i class="fas fa-key" aria-hidden="true"></i></span>

                {# Items #}
                {% for  keyword in file.keywords %}
                  <span class="unig-tag-read-only unig-keyword unig-keyword-id-{{ keyword.id }}"
                        data-id="{{ keyword.id }}">{{ keyword.name }}</span>
                {% endfor %}
              {% endif %}
            </div>

            {#  -----------   Toolbox People -----------  #}
            <div class="unig-toolbox unig-file-people-toolbox" style="display: none">

              {#  People  #}
              {% if file.people is not empty %}

                {# Title #}
                <span class="unig-toolbox-tag-title-picto">
                                    <i class="fas fa-user" aria-hidden="true"></i></span>

                {# Items #}
                {% for  people in file.people %}
                  <span
                    class="unig-tag-read-only unig-people unig-people-tag-id-{{ people.id }}">{{ people.name }}</span>
                {% endfor %}
              {% endif %}


            </div>

          </div>
        </li>

      {% endfor %}
    </ul>
  </div>
</div> {# Unig Body #}

  {# Unig Footer #}
<div class="unig-footer">
</div>{# Unig Footer #}
</div>
