{#
/**
 * @file
 *
 */
#}

{#
unig.lightgallery.html.twig
 #}

{{ attach_library('unig/unig.project') }}


{% set datum = project.timestamp|format_date(0, "d. F Y" ) %}



<div class="unig-file-gallery-head">
    <div class="unig-back-to-list">
        <a href="{{ path('unig.project_list') }}">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            Alle Bildergalerien anzeigen</a>
    </div>

    <div class="unig-project-date"> {{ datum }}</div>
    <h2 class="unig-project-title">{{ project.title }}</h2>

    {# Anzahl Bilder #}
    <div class="unig-project-number-of-items">
        {% if project.number_of_items == 1 %}
            {{ project.number_of_items }} Bild
        {% elseif project.number_of_items > 1 %}
            {{ project.number_of_items }} Bilder
        {% endif %}
    </div>

    <div class="unig-project-body">{{ project.body }}</div>

</div>

<div class="unig">
    <ul class="unig-gallery" id="lightgallery-{{ project.nid }}">

        {% for file in files %}





            <li class="unig-file-item  unig-file-item-id-{{ file.nid }}">

                {#  -----------   Image  -----------  #}
                <div class="lightgallery-item"
                     data-sub-html="{{ file.title }}"
                     data-src="{{ file.image.unig_hd.url }}">

                    {% if file.label is not empty %}
                        <div class="field-label">
                            <label>{{ file.field_label }}</label>
                        </div>
                    {% endif %}
                    <div class="field-content">
                        <div class="unig-image-background">
                            <img class="img-responsive" src="{{ file.image.unig_thumbnail.url }}"/>
                        </div>
                    </div>
                </div>

                {#  -----------   Title  -----------  #}
                <div class="unig-file-title">
                    {% if user.hasPermission('administer nodes') %}

                        <a href="/node/{{ file.nid }}/edit?destination=/unig/project/{{ project.nid }}"
                           class="unig-file-item-text use-ajax"
                           data-dialog-type="modal"
                           data-dialog-options='{"height":"650","width":"50%","max-height":"100%"}'
                        >
                            {{ file.title }}
                        </a>
                    {% else %}
{#
                        <span>{{ file.title }}</span>
#}
                    {% endif %}
                </div>


            </li>

        {% endfor %}
    </ul>
</div>