{#
/**
 * @file
 *
 */
#}

{#
project
 - year
 - date
 - year
 - timestamp
 - title
 - body
 - weight (draggable)
 - number_of_items
 - album_list
     - title
     - nid
 - links
   - edit
   - delete
 - cover_id     (node_id from unig_file)
 - cover_image  (render with twig)
    -format

 #}

{{ attach_library('unig/unig.admin.files') }}


{% set unig_projects     = path('unig.project.list') %}
{% set datum = project.timestamp|format_date(0, "d. F Y" ) %}


<div class="unig-file-gallery-head">
    <div><a href="{{ unig_projects }}"><i class="fa fa-chevron-left" aria-hidden="true"></i>
            Alle Bildergalerien anzeigen</a></div>

    <div class="unig-project-date"> {{ datum }}</div>
    <div><h2 class="unig-project-title">{{ project.title }}</h2></div>

    {# Anzahl Bilder #}
    <div class="unig-project-number-of-items">
        {% if project.number_of_items == 1 %}
            {{ project.number_of_items }} Bild
        {% elseif project.number_of_items > 1 %}
            {{ project.number_of_items }} Bilder
        {% endif %}
    </div>

    <div class="unig-project-body">{{ project.body }}</div>

</div>

<div class="unig">
    <ul class="unig-gallery" id="lightgallery-{{ project.nid }}">

        {% for file in files %}


            <li class="unig-file-normal unig-file-{{ file.nid }}" id="unig-file-id_{{ file.nid }}">

                {#  -----------   Titelbild  -----------  #}
                <div class="lightgallery-item"
                     data-sub-html="{{ file.title }}"
                     data-src="{{ file.image.unig_hd }}">

                    {% if file.label is not empty %}
                        <div class="field-label">
                            <label>{{ file.field_label }}</label>
                        </div>
                    {% endif %}
                    <div class="field-content">
                        <div class="unig-gallery-preview-wrapper">
                            <img class="img-responsive" src="{{ file.image.medium }}"/>
                        </div>
                    </div>
                </div>


                {#  -----------   Titel  -----------  #}
                <div>
                    <p class="unig-img-label">{{ file.title }} </p>
                </div>


            </li>

        {% endfor %}
    </ul>
</div>