{#
/**
 * @file
 *
 */
#}

{#
project
 - year
 - date
 - year
 - timestamp
 - title
 - body
 - weight (draggable)
 - number_of_items
 - album_list
     - title
     - nid
 - links
   - edit
   - delete
 - cover_id     (node_id from unig_file)
 - cover_image  (render with twig)
    -format

 #}

{{ attach_library('unig/unig.admin.images') }}

<h1>Project</h1>

{% set unig_projects     = path('unig.project.list') %}
{% set unig_upload = path('unig.upload') %}

<div id="ajax-container">
</div>

<div class="unig-debug">
    {#
        {{ dd(files) }}
    #}

</div>


<div class="unig-toolbar">

    <a type="button" class="button btn btn-default" href="{{ unig_projects }}">
        <i class="fa fa-list" aria-hidden="true"></i>
        Alle Projekte
    </a>

    <a type="button" class="button btn btn-default" href="{{ unig_upload }}">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Bilder hinzufügen
    </a>


</div>

<div class="unig-ajax-container">

</div>

{#
<a class="use-ajax" href="/unig/ajaxtest/123">Ajaxtest</a>
#}


<article class="unig">
    <div class="unig-project-nid">{{ project.nid }}</div>
    <div class="unig-project-title">{{ project.title }}</div>

    {# Anzahl Bilder #}
    <div class="unig-project-number-of-items">
        {% if project.number_of_items == 1 %}
            {{ project.number_of_items }} Bild
        {% elseif project.number_of_items > 1 %}
            {{ project.number_of_items }} Bilder
        {% endif %}
    </div>

    <div class="unig-project-body">{{ project.body }}</div>
    <div class="unig-project-date"> {{ project.date|date("m/d/Y") }}</div>

    {# Album List #}
    <div class="unig-album">
        <ul>
            <li class="unig-albumlist-all">
                <a href="/unig/project/{{ project.nid }}">Alle</a>
            </li>

            {% for album in project.album_list %}
                <li class=" unig-albumlist-item">
                    <a href="/unig/project/{{ project.nid }}/{{ album.nid }}">{{ album.title }}</a>
                </li>

            {% endfor %}
            <li class="unig-albumlist-new-container">
                <div id="unig-form-new-album-input-messages"></div>

                <div id="ajax-container-new-album">
                    <a class="ajax-container-new-album-trigger">Neues Album erstellen</a>
                    <div id="ajax-container-new-album-container" data-projectnid="{{ project.nid }}"
                         style="display: none">
                        {{ drupal_form('Drupal\\unig\\Form\\NewAlbumForm' ) }}
                    </div>
                </div>
            </li>

        </ul>
    </div>

</article>

<div class="unig">
    <ul>
        {% for file in files %}
            <li class="unig-file unig-file-{{ file.nid }}">
                <div class="unig-img-preview">
                    <img src="{{ file.image.unig_bigger_thumbnail }}" alt="">
                </div>
                <div>
                    {#  -----------   Titelbild  -----------  #}
                    <a class="unig-button unig-file-set-cover use-ajax"
                       href="/unig/nojs/set_cover/{{ project.nid }}/{{ file.nid }}">
                        als Titelbild festlegen
                    </a>

                    {#  -----------   Löschen  -----------  #}
                    <a class="unig-button unig-file-delete use-ajax"
                       href="/unig/nojs/delete_file/{{ project.nid }}/{{ file.nid }}">
                        Bild löschen
                    </a>

                    {#  -----------   Album  -----------  #}

                    <div class="unig-album">
                        <p>Zu album hinzufügen</p>

                        <ul class="unig-gallery-file-album-list-items">
                            {% for album in project.album_list %}
                                <li>
                                    <a class="unig-file-add-album use-ajax"
                                       href="/unig/nojs/add_album/{{ file.nid }}/{{ album.nid }}">{{ album.title }}</a>
                                </li>

                            {% endfor %}
                        </ul>
                    </div>

                </div>
            </li>

        {% endfor %}
    </ul>
</div>