{#
/**
 * @file
 *
 */
#}

{#
project
 - year
 - date
 - year
 - timestamp
 - title
 - body
 - weight (draggable)
 - number_of_items
 - album_list
     - title
     - nid
 - links
   - edit
   - delete
 - cover_id     (node_id from unig_file)
 - cover_image  (render with twig)
    -format

 #}

{{ attach_library('unig/unig.admin.images') }}


{% set unig_projects     = path('unig.project.list') %}
{% set unig_upload = path('unig.upload') %}

<div class="unig-debug">
    {#
        {{ dd(files) }}
    #}
</div>


<div class="unig-toolbar">

    <a type="button" class="button btn btn-default" href="{{ unig_projects }}">
        <i class="fa fa-list" aria-hidden="true"></i>
        Alle Bildergalerien
    </a>

</div>

<div class="unig-ajax-container">

</div>

<article class="unig unig-lightgallery">

    <div class="unig-lightgallery-title">
        <h2>{{ project.title }}</h2>
    </div>

    <div class="unig-lightgallery-date">
        <p> {{ project.date|date("d. m. Y") }}</p>
    </div>

    {# Anzahl Bilder #}
    <div class="unig-lightgallery-number-of-items">
        {% if project.number_of_items == 1 %}
            {{ project.number_of_items }} Bild
        {% elseif project.number_of_items > 1 %}
            {{ project.number_of_items }} Bilder
        {% endif %}
    </div>

    <div class="unig-lightgallery-body">{{ project.body }}</div>


    <div class="lightgallery-wrapper">
        <ul class="lightgallery unig-gallery" id="lightgallery-{{ id }}">
            {% for item in files %}
                <li data-src="{{ item.image.unig_hd }}" style="{{ item.row_style }}" data-sub-html="{{ item.title }}">
                    {% if item.label is not empty %}
                        <div class="field-label">
                            <label>{{ item.field_label }}</label>
                        </div>
                    {% endif %}
                    <div class="field-content">
                        <div class="unig-gallery-preview-wrapper">
                            <img class="img-responsive" src="{{ item.image.medium }}"/>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

</article>